{% extends "./layouts/checkerLayout.html" %}

{% block pageTitle %} Document check - {{pageTitle}} – GOV.UK {% endblock %}

{% block beforeContent %}
{{ super() }}
<a href="javascript: history.back();" class="govuk-back-link govuk-!-margin-top-9">Back</a>
{% endblock %}

{% set ptdNumber = data.ptdNumber %}
{% set issuedDate = data.issuedDate %}
{% set microchipNumber = data.microchipNumber %}
{% set microchipDate = data.microchipDate %}
{% set petName = data.petName %}
{% set petSpecies = data.petSpecies %}
{% set petBreed = data.petBreed %}
{% set petSex = data.petSex %}
{% set petDoB = data.petDoB %}
{% set petColour = data.petColour %}
{% set petFeaturesDetail = data.petFeaturesDetail %}
{% set petOwnerName = data.petOwnerName %}
{% set petOwnerEmail = data.petOwnerEmail %}
{% set petOwnerTelephone = data.petOwnerTelephone %}
{% set petOwnerAddressLineOne = data.petOwnerAddress.addressLineOne %}
{% set petOwnerAddressLineTwo = data.petOwnerAddress.addressLineTwo %}
{% set petOwnerAddressTownOrCity = data.petOwnerAddress.townOrCity %}
{% set petOwnerAddressCounty = data.petOwnerAddress.county %}
{% set petOwnerAddressPostCode = data.petOwnerAddress.postCode %}
{% set issuingAuthorityName = data.issuingAuthority.name %}
{% set issuingAuthorityAddressLineOne = data.issuingAuthority.address.addressLineOne %}
{% set issuingAuthorityAddressLineTwo = data.issuingAuthority.address.addressLineTwo %}
{% set issuingAuthorityAddressLineThree = data.issuingAuthority.address.addressLineThree %}
{% set issuingAuthorityAddressTownOrCity = data.issuingAuthority.address.townOrCity %}
{% set issuingAuthorityAddressCounty = data.issuingAuthority.address.county %}
{% set issuingAuthorityAddressPostCode = data.issuingAuthority.address.postCode %}
{% set issuingAuthorityAddressSignature = data.issuingAuthority.signature %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-4">    
    <div class="govuk-grid-column-full govuk-!-margin-top-0""> 
        <div id="errorSummary" class="govuk-grid-column-three-quarters">
            {% if formSubmitted %}
            {% include "./errors/displayErrorSummary.html" %}
            {% endif %}
        </div>
    <div class="govuk-grid-row govuk-!-static-margin-top-4">
        <div class="govuk-grid-column-three-quarters">
            {# <div class="govuk-grid-row pet-declaration-logos govuk-!-static-margin-bottom-4">
                <div class="govuk-grid-column-one-quarter">
                    {% include "../../includes/defra-logo.html" %}
                </div>
                <div class="govuk-grid-column-one-quarter">
                    {% include "../../includes/apha-logo.html" %}
                </div>
            </div> #}

            {% include "includes/status.html" %}

            {% if data['documentState'] !== "awaiting" %}
            <h1 id="documents" class="govuk-heading-l govuk-!-margin-bottom-6">
                Lifelong pet travel document and declaration
            </h1>
            {% endif %}

            {% if data['documentState'] === "awaiting" %}
            <h1 id="documents" class="govuk-heading-l govuk-!-margin-bottom-6">
                Lifelong pet travel document and declaration
            </h1>
            {% endif %}

            {% if data['documentState'] !== "awaiting" and data['documentState'] !== "rejected" %}
            <div id="document-issued-card" class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Issued</h2>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                PTD number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ ptdNumber }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ issuedDate }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            {% endif %}

            {% if data['documentState'] === "awaiting" or data['documentState'] === "rejected" %}
            <div id="document-issued-card" class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Reference number</h2>
                </div>

                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Application reference number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ ptdNumber }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ issuedDate }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            {% endif %}
            
            {% if data['documentState'] === "approved"  or data['documentState'] === "revoked"  or data['documentState'] === "rejected"%}
            <div id="document-IssuingAuthority-card" class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Issuing authority</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name and address of competent authority
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {%if issuingAuthorityName.trim() !== '' %}
                                    <strong>{{ issuingAuthorityName }}</strong>
                                    <br class="pet-br-print">
                                {% endif %} 
                                {%if issuingAuthorityAddressLineOne.trim() !== '' %}
                                    {{ issuingAuthorityAddressLineOne }}
                                    <br class="pet-br-print">
                                {% endif %}
                                {%if issuingAuthorityAddressLineTwo.trim() !== '' %}                             
                                    {{ issuingAuthorityAddressLineTwo }}
                                    <br class="pet-br-print">
                                {% endif %}
                                {%if issuingAuthorityAddressLineThree.trim() !== '' %}                             
                                    {{ issuingAuthorityAddressLineThree }}
                                    <br class="pet-br-print">
                                {% endif %}
                                {%if issuingAuthorityAddressTownOrCity.trim() !== '' %}                             
                                    {{ issuingAuthorityAddressTownOrCity }}
                                    <br class="pet-br-print">
                                {% endif %}
                                {%if issuingAuthorityAddressCounty.trim() !== '' %}                             
                                    {{ issuingAuthorityAddressCounty }}
                                    <br class="pet-br-print">
                                {% endif %}
                                {{ issuingAuthorityAddressPostCode }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Signed on behalf of the competent authority (APHA)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ issuingAuthorityAddressSignature }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            {% endif %}

            <div id="document-microchip-card" class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Microchip information</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Microchip number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ microchipNumber }}
                            </dd>
                        </div>

                        {# <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Implant location
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Under the skin
                            </dd>
                        </div> #}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Implant or scan date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ microchipDate }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div id="document-pet-card" class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Pet details</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Pet name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petName }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Species
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petSpecies }}
                            </dd>
                        </div>

                        {%if petBreed and petBreed !== '' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Breed
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petBreed }}
                            </dd>
                        </div>
                        {% endif %} 

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sex
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petSex }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petDoB }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Colour
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petColour }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Significant features
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petFeaturesDetail }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div id="document-owner-card" class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Pet owner details</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petOwnerName }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petOwnerEmail }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {%if petOwnerAddressLineOne.trim() !== '' %}
                                    {{ petOwnerAddressLineOne }}
                                    <br class="pet-br-print">
                                {% endif %} 
                                {%if petOwnerAddressLineTwo.trim() !== '' %}
                                    {{ petOwnerAddressLineTwo }}
                                    <br class="pet-br-print">
                                {% endif %}
                                {%if petOwnerAddressTownOrCity.trim() !== '' %}                             
                                    {{ petOwnerAddressTownOrCity }}
                                    <br class="pet-br-print">
                                {% endif %}
                                {%if petOwnerAddressCounty.trim() !== '' %}                             
                                    {{ petOwnerAddressCounty }}
                                    <br class="pet-br-print">
                                {% endif %}
                                {{ petOwnerAddressPostCode }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ petOwnerTelephone }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

        </div>
    </div>


    <form id="searchResultForm" action="/checker/search-results" method="POST">
        <div id="searchradio-group" class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Checks
                    </h1>
                </legend>

                <p class="govuk-body">Check:</p>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>
                        PTD presented and valid
                    </li>
                    <li>
                        visual check of pet matches PTD
                    </li>
                    <li>
                        microchip number matches PTD
                    </li>
                    <li>
                        no risks identified
                    </li>
                </ul>
                {% if data['documentState'] !== 'rejected' and data['documentState'] !== 'revoked' %}
                <div>
                    
                    <div id="radio-check-error" class="govuk-form-group {% if error %}govuk-form-group--error{%
                        endif %}">
                        {% if error %}
                        <p id="passOrFailOption" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Select an option
                        </p>
                        {% endif %}
                    
                    
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="checklist" name="checklist" type="radio"
                                    value="Pass" {% if checklist == "Pass" %}checked{% endif %}>
                                {# data-aria-controls="conditional-checklist-1" #}
                                <label class="govuk-label govuk-radios__label" for="checklist">
                                    Pass
                                </label>
                                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                                    Passes all checks.
                                </div>
                            </div>
                            {# <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                id="conditional-checklist-1">


                            </div> #}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-2" name="checklist" type="radio"
                                    value="Fail" {% if checklist == "Fail" %}checked{% endif %}>
                                {# data-aria-controls="conditional-contact-2" #}
                                <label class="govuk-label govuk-radios__label" for="contact-2">
                                    Fail or referred to SPS
                                </label>
                                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                                    Fails at least one check.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </fieldset>
        </div>

        <div class="govuk-grid-row govuk-!-static-margin-top-4">
            <div class="govuk-grid-column-one-half">
                <button type="submit" class="govuk-button" data-module="govuk-button" id="saveAndContinue">
                    Save and continue
                </button>
            </div>
        </div>
    </form>
    <div style="height: 2rem;"></div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Clear validation errors only when the page is loaded
        if (!sessionStorage.getItem('formSubmitted')) {
            clearValidationErrors();
        } else {
            sessionStorage.removeItem('formSubmitted');
        }
    });
    
    document.getElementById('searchResultForm').addEventListener('submit', function(_event) {
        // Clear previous error messages before submitting the form
        sessionStorage.setItem('formSubmitted', 'true');
        clearValidationErrors();
    
        // Optional: Add any additional validation or actions here
    
        // Allow the form to proceed with submission
    });
    
    function clearValidationErrors() {
        document.querySelectorAll('.govuk-error-message').forEach(function(el) {
        el.remove();
        });
        document.querySelectorAll('.govuk-form-group--error').forEach(function(el) {
        el.classList.remove('govuk-form-group--error');
        });
        document.getElementById('errorSummary').innerHTML = '';
    }
</script>
{% endblock %}