<div id="document-owner-card" class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Pet owner details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">{{ data['name'] + " " + data['lastName'] if data['name'] else "Carlos Bernardo Jr"}}</dd>
        {% if data['pageState'] == "change" or data['pageState'] == "edit" %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/checker/v1/edit/details/name?returnPage=/v7/edit/document/">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        {% endif %}
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email</dt>
        <dd class="govuk-summary-list__value">{{ data['emailAddress'] if data['emailAddress'] else "email@emailprovider.com"}}</dd>
        {% if data['pageState'] == "change" or data['pageState'] == "edit" %}
          {# <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/checker/v1/edit/account/email?returnPage=/v7/edit/document/">
              Change<span class="govuk-visually-hidden"> email</span>
            </a>
          </dd> #}
        {% endif %}
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['address'] if data['address'] else '72 Guild Street<br class="pet-br-print">London<br class="pet-br-print">SE23 6FH' | safe}}
        </dd>
        {% if data['pageState'] == "change" or data['pageState'] == "edit" %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/checker/v1/edit/details/postcode?returnPage=/v7/edit/document/">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        {% endif %}
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Phone number</dt>
        <dd class="govuk-summary-list__value">{{ data['telephoneNumber'] if data['telephoneNumber'] else "07492123456"}}</dd>
        {% if data['pageState'] == "change" or data['pageState'] == "edit" %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/checker/v1/edit/details/phone?returnPage=/v7/edit/document/">
              Change<span class="govuk-visually-hidden"> phone number</span>
            </a>
          </dd>
        {% endif %}
      </div>
    </dl>
  </div>
</div>