<h2 class="govuk-heading-l">Declaration</h2>
<p class="govuk-body">I declare that:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>I will only use the lifelong travel document to travel with my dog, cat or ferret from Great Britain (England, Scotland and Wales) to Northern Ireland</li>
  <li>I need an EU pet passport or animal health certificate to travel from Northern Ireland to the EU</li>
  {# <li>I will not sell or transfer ownership of my pet while in Northern Ireland</li> #}
</ul>

{# <p class="govuk-body">I understand that this document is only valid for travelling with my pet from Great Britain to Northern Ireland.</p>
<p class="govuk-body">My pet will accompany me at all times while travelling from Great Britain to Northern Ireland.</p>
<p class="govuk-body">I can't use this document if I want to sell or transfer ownership of my pet while in Northern Ireland.</p>
<div class="govuk-warning-text govuk-!-margin-bottom-0 govuk-!-display-none-print">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You can't use this document if you are travelling onwards to the Republic of Ireland or another EU member state.
  </strong>
</div> #}
