{{ govukFooter({
  classes: "rtwr-footer",
    meta: {
      items: [
        {
          href: "/checker/v1/service/accessibility",
          text: "Accessibility statement"
        },
        {
          href: "/checker/v1/service/cookies",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Cymraeg"
        },
        {
          href: "https://www.gov.uk/government/publications/animal-and-plant-heath-agency-privacy-notices/pet-travel-scheme-privacy-notice",
          text: "Privacy notice"
        },
        {
          href: "/checker/v1/service/terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}

          {# ,
        {
          href: "#",
          text: "Built by the Environment Agency"
        } #}