{% extends "./layouts/checkerLayout.html" %}

{% block pageTitle %} Allow camera access to scan - {{pageTitle}} – GOV.UK {% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-2 govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
          Allow camera access to scan
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <br>
  
 
      <p class="govuk-body">You can also search by:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>PTD number</li>
      <li>application number</li>
      <li>microchip number</li>
      </ul>
  
    </div>
  </div>
{% endblock %}