.pts-checker-header {
  background-color: $bgheader;
  padding: 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $headerheight;
  box-sizing: border-box;
  z-index: 100;
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0.5rem 0.5rem 0.3rem);
  -moz-box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.15);
  box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.15);
  .pet-declaration-logos {
    zoom: 0.8;
    .pet-logo-print.gem-c-organisation-logo-white {
      margin-bottom: 0;
    }
  }
  h1 {
    display: inline-block;
    margin-top: 0.4em;
  }
}

.pts-checker-header-nav {
  float: right;
  list-style: none;
  display: inline-block;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  // justify-content: space-between;
  // align-items: stretch;
  margin: 0;
  padding: 0;
  column-gap: 0.5em;
  // padding-left: 16px;
  // padding-right: 16px;
  box-sizing: border-box;
  z-index: 100;

  li {
    display: inline-block;
    // padding-bottom: 1.5em;
    // padding-top: 1em;
    padding: 0;
    padding-left: 0.7em;
    padding-right: 0.7em;
    text-align: center;

    svg {
      height: 30px;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.7em;
    }

    a {
      color: #ffffff;
      font-size: 14px;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

@media only screen and (max-width: 650px) {
  // and (orientation: portrait)
  .pts-checker-header {
    padding-top: 1.5em;
    .govuk-grid-column-one-half,
    .govuk-grid-column-two-thirds {
      display: inline-block;
      width: 65%;
    }
    .govuk-grid-column-one-quarter,
    .govuk-grid-column-one-third {
      display: inline-block;
      width: auto;
      // float: right;
    }
    .govuk-grid-column-one-third {
      float: right;
    }
    .govuk-heading-l {
      font-size: 1.8em;
    }
    .pts-checker-header-nav {
      li {
        svg {
          margin-top: 0.4em;
          height: 30px;
          margin-bottom: 0;
        }
      }
      span {
        display: none;
      }
    }
    .pet-declaration-logos {
      .govuk-grid-column-one-half,
      .govuk-grid-column-one-quarter {
        &:first-child {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  // and (orientation: portrait)
  .pts-checker-header {
    h1.govuk-heading-l {
      font-size: 1.5em;
    }
  }
}
