/* SUCCESS MESSAGE */
html {
  --ons-color-black: #222;
  --ons-color-leaf-green: #0f8243;
  --ons-color-leaf-green-tint: #e7f3ec;
  --ons-color-text: var(--ons-color-black);
  --ons-color-success: var(--ons-color-leaf-green);
  --ons-color-success-tint: var(--ons-color-leaf-green-tint);
}

.ons-panel {
  border-radius: 0;
  position: relative;
}

.ons-panel--no-title {
  border: 1px solid transparent;
  border-left: 8px solid transparent;
  padding: 1rem;
}

.ons-panel--success .ons-panel__icon {
  left: 0;
  padding-left: 1rem;
}

.ons-panel--success {
  background: var(--ons-color-success-tint);
  border-color: var(--ons-color-success);
  outline: 1px solid transparent;
}

.ons-panel__body {
  padding: 1rem;
}

.ons-u-fs-r {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.ons-panel--success .ons-panel__icon .ons-icon {
  fill: var(--ons-color-success) !important;
  margin-top: -15% !important;
}

.ons-icon {
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}

.ons-panel--no-title .ons-panel__body {
  background: 0 0;
  padding: 0;
}

.ons-panel>*:last-child {
  margin-bottom: 0;
}

.ons-panel__icon+.ons-panel__body {
  padding-left: 2rem;
}



.ons-panel--info .ons-panel__icon,
.ons-panel--bare .ons-panel__icon,
.ons-panel--success .ons-panel__icon,
.ons-panel--warn .ons-panel__icon,
.ons-panel--warn-branded .ons-panel__icon,
.ons-panel--announcement .ons-panel__icon {
  position: absolute;
}

.ons-u-vh,
.ons-checkbox--no-label>.ons-checkbox__input+.ons-checkbox__label,
.ons-checkbox--no-label>.ons-radio__input+.ons-checkbox__label,
.ons-checkbox--no-label>.ons-checkbox__input+.ons-radio__label,
.ons-checkbox--no-label>.ons-radio__input+.ons-radio__label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 1px;
}