{% extends "./layouts/blankLayout.html" %}

{% block content %}

    <form action="/password" method="POST">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                {% if error %}
                    <div id="errorSummary">
                        {% include "./errors/displayErrorSummary.html" %}
                    </div>
                {% endif %}

                <h1 class="govuk-heading-xl">This is a test environment</h1>
                <p>
                    It is not a real service. You should only continue if you have been invited to this environment.
                </p>

                {% if error %}
                    <p id="password-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{error}}
                    </p>
                {%endif %}

                <div class="govuk-form-group {% if error %}govuk-form-group--error{%endif %}">
                    <label class="govuk-label" for="password">Password</label>
                    <input class="govuk-input govuk-input--width-10 {% if error %}govuk-input--error{%endif %}" 
                    id="password" 
                    name="password" 
                    type="password"
                    {% if error %}aria-describedby="password-error"{%endif %}
                    >
                </div>

                <input type="hidden" name="returnURL" value="{{returnURL}}">
                <button class="govuk-button" data-module="govuk-button">Continue</button>

            </div>
        </div>

    </form>

{% endblock %}