<p>
  In this article I will give an explanation of microchips in the UK with the
  aim of creating a guide to pet microchips.
</p>
<p>
  We are aiming for this to be a useful resource for anyone wanting to know more
  or for people who are trying to track down a pet owner.&nbsp;
</p>
<p>
  To find out how a microchip works check out our article
  <a href="https://mypethq.io/help-centre/what-is-a-microchip-how-does-it-work/"
    >HERE</a
  >
  and to find out how microchip databases work in the UK click
  <a href="https://mypethq.io/how-pet-microchipping-works/">HERE</a>.
</p>

<p>There are 2 main types of microchips:</p>

<h2 class="elementor-heading-title elementor-size-medium">
  FDX-A microchips
</h2>

<p>
  FDX-A are not compliant in the UK. The UK legislation&nbsp; states this. You
  can see it
  <a href="https://www.legislation.gov.uk/uksi/2015/108/regulation/4/made"
    >HERE</a
  >.&nbsp;
</p>
<p>
  The legislation states that the microchip must be ISO compliant and an FDX-b
  microchip which reads at 134.2 kilohertz.&nbsp;
</p>
<p>
  FDX-A microchips read at a frequency of 125 kilohertz.&nbsp;
</p>
<p>
  An FDX-A microchip number is generally at 9 or 10 digit number and can
  contains numbers or numbers and letters.&nbsp;
</p>
<p>
  Note – Our Search tool still allows these microchips to be searched just in
  case we find a result on another database.
</p>

<h2 class="elementor-heading-title elementor-size-medium">
  FDX-B microchips (ISO compliant)
</h2>

<p>
  FDX-B microchips are the global standard. Here are a few facts about them:
</p>
<ul>
  <li>
    <p class="">
      &nbsp;All ISO-compliant FBX-B microchips contain 15 numbers only, no
      letters
    </p>
  </li>
  <li>
    <p class="">
      &nbsp;If the first digit is a 9 this means the first 3 digits identifies
      the manufacturer. (Unless the first 3 digits are 900 then the first 6
      digits identifies the manufacturer.)
    </p>
  </li>
  <li>
    <p class="">
      &nbsp;If the first digit is anything other than a 9 this means it’s
      showing the country code. This usually means the pet has been microchipped
      in that particular country. You can find a list of these at the end of the
      article.
    </p>
  </li>
  <li>
    <p class="">
      Most databases in the UK also supply a different manufacturers code. Check
      below for more information on which databases to contact about which brand
      of microchip.
    </p>
  </li>
</ul>

<h2 class="elementor-heading-title elementor-size-large">
  Who to contact about which microchip brand
</h2>

<p>
  If you have a microchip number and need to find out more about it, the first
  thing you should do it search it
  <a href="https://app.mypethq.io/microchip-search">HERE</a>.
</p>
<p>
  Our look up tool will check every other database in the UK to check if they
  have a record of the microchip. Finding a pet owner should take 1 look up and
  1 phone call if the microchip is registered.&nbsp;
</p>
<p>
  If our search doesn’t return a result we reccomend searching on
  <a href="https://www.europetnet.com/">Euro Pet Net</a>. This searches many of
  the European database some of which even display ownership details publicly.
  Our support team will always search this during an enquiry if the microchip is
  not registered on a UK databases.&nbsp;
</p>
<p>
  If this doesn’t return a result you can check out the list below to find out
  who deals with which microchip brand. The first digits of a microchip is
  either a manufacturer code or a country code. Manufacturer codes are much more
  common in the UK as the UK does not use a country code.&nbsp;A manufacturer
  code is issued by
  <a href="https://www.icar.org/index.php/rfid-injectable/">ICAR</a
  >.&nbsp;&nbsp;
</p>
<p>
  Country codes are assigned by the Internal Standards Organization (ISO). They
  set the global standards for microchips as laid out in ISO11784 and
  ISO11785.&nbsp;
</p>
<p>
  It should be noted that not every country uses their country code. The best
  way to remember it is:
</p>
<p>
  If it doesn’t start with a 9, it’s more than likely a country code. If it
  starts with a 9 it’s a manufacturer code.&nbsp;
</p>
<p>
  If you have any questions please just drop us an email –
  <a href="mailto:support@mypethq.io">support@mypethq.io</a>
</p>

<h2 class="elementor-heading-title elementor-size-large">
  Manufacturer codes
</h2>

<table class="tablesorter eael-data-table center" id="eael-data-table-0f85800">
  <thead>
    <tr class="table-header">
      <th class="sorting sorting-none" id="" colspan="">
        <span class="data-table-header-text">First 3 digits of microchips</span>
      </th>
      <th class="sorting sorting-none" id="" colspan="">
        <span class="data-table-header-text">Which database to contact </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        956 (Trovan microchip)
      </td>

      <td><a href="https://mypethq.io/">MyPet</a></td>
    </tr>

    <tr>
      <td>
        981 (Datamars microchip)
      </td>

      <td><a href="https://www.petlog.org.uk/">Petlog</a></td>
    </tr>
    <tr>
      <td>
        985 (Destron)
      </td>

      <td><a href="https://www.identibase.co.uk/">Identibase</a></td>
    </tr>
    <tr>
      <td>
        977 (AVID)
      </td>

      <td><a href="https://www.pettrac.co.uk/">Uk Pet Trac</a></td>
    </tr>
    <tr>
      <td>
        982 (Allflex)
      </td>

      <td><a href="https://www.identibase.co.uk/">Identibase</a></td>
    </tr>
    <tr>
      <td>
        945 (Business Inception Identification B.V.)
      </td>

      <td><a href="https://www.petlog.org.uk/">Petlog</a></td>
    </tr>
    <tr>
      <td>
        972 (Datamars)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        990 (Soartech Electronics Inc.)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        993 (Plastifran BV)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        953 (Virbac)
      </td>

      <td><a href="https://www.pettrac.co.uk/">UK Pet Trac</a></td>
    </tr>
    <tr>
      <td>
        989 (Biomark Inc.)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        941 (Felixcan)
      </td>

      <td><a href="https://www.petlog.org.uk/">Petlog</a></td>
    </tr>
    <tr>
      <td>
        978 (Virbac)
      </td>

      <td><a href="https://www.pettrac.co.uk/">UK Pet Trac</a></td>
    </tr>
    <tr>
      <td>
        992 (Smartrac Specialty GmbH)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        933 (Ornthana Intertrade Co.,ltd.)
      </td>

      <td><a href="https://smarttrace.org.uk/">Smarttrace</a></td>
    </tr>
    <tr>
      <td>
        952 (Jecta)
      </td>

      <td><a href="https://www.petlog.org.uk/">Petlog</a></td>
    </tr>
    <tr>
      <td>
        968 (AEG)
      </td>

      <td><a href="https://mypethq.io/">MyPet</a></td>
    </tr>

    <tr>
      <td>
        991 (WUXI FOFIA Technology Co., Ltd)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        992 (Smartrac Specialty GmbH)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        993 (Plastifran BV)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        988 (Datamars Inc)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        932 (BARTMED)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        958 (Pet ID)
      </td>

      <td><a href="https://www.chipworks.co.uk/">Chipworks</a></td>
    </tr>
    <tr>
      <td>
        944 (Net &amp; Telligent SA)
      </td>

      <td><a href="https://www.pettrac.co.uk/">UK Pet Trac</a></td>
    </tr>
    <tr>
      <td>
        987 (A1 ID SYSTEMS Ltd.)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        965 (SwissPlus ID Group Pty Ltd)
      </td>

      <td><a href="https://www.chipworks.co.uk/">Chipworks</a></td>
    </tr>
    <tr>
      <td>
        963 (AnimallTAG)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td>
        939 (RealTrace)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        967 (RF Holding (Beheer) BV)
      </td>

      <td><a href="https://www.petlog.org.uk/">Petlog</a></td>
    </tr>
    <tr>
      <td>
        937 (Os ID as)
      </td>

      <td>
        <a href="https://mypethq.io/"
          >Contact MyPet for more help with these microchips</a
        >
      </td>
    </tr>
    <tr>
      <td>
        941 (Datamars Iberica, S.L.U.)
      </td>

      <td><a href="https://www.petlog.org.uk/">Petlog</a></td>
    </tr>
  </tbody>
</table>

<h2 class="elementor-heading-title elementor-size-large">
  Country codes
</h2>

<table class="tablesorter eael-data-table center" id="eael-data-table-ed68030">
  <thead>
    <tr class="table-header">
      <th class="sorting sorting-none" id="" colspan="">
        <span class="data-table-header-text"
          >First 2- 3 digits of microchips</span
        >
      </th>
      <th class="sorting sorting-none" id="" colspan="">
        <span class="data-table-header-text">Assigned Country</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>32</td>

      <td>Argentina</td>
    </tr>
    <tr>
      <td>36</td>

      <td>Australia</td>
    </tr>
    <tr>
      <td>40</td>

      <td>Austria</td>
    </tr>
    <tr>
      <td>44</td>

      <td>Bahamas</td>
    </tr>
    <tr>
      <td>52</td>

      <td>Barbados</td>
    </tr>
    <tr>
      <td>56</td>

      <td>Belgium</td>
    </tr>
    <tr>
      <td>60</td>

      <td>Bermuda</td>
    </tr>
    <tr>
      <td>76</td>

      <td>Brazil</td>
    </tr>
    <tr>
      <td>124</td>

      <td>Canada</td>
    </tr>
    <tr>
      <td>152</td>

      <td>Chile</td>
    </tr>
    <tr>
      <td>156</td>

      <td>China</td>
    </tr>
    <tr>
      <td>158</td>

      <td>Taiwan</td>
    </tr>
    <tr>
      <td>203</td>

      <td>Czech Republic</td>
    </tr>
    <tr>
      <td>208</td>

      <td>Denmark</td>
    </tr>
    <tr>
      <td>214</td>

      <td>Dominican Republic</td>
    </tr>
    <tr>
      <td>246</td>

      <td>Finland</td>
    </tr>
    <tr>
      <td>250</td>

      <td>France</td>
    </tr>
    <tr>
      <td>276</td>

      <td>Germany</td>
    </tr>
    <tr>
      <td>300</td>

      <td>Greece</td>
    </tr>
    <tr>
      <td>348</td>

      <td>Hungary</td>
    </tr>
    <tr>
      <td>356</td>

      <td>India</td>
    </tr>
    <tr>
      <td>360</td>

      <td>Indonesia</td>
    </tr>
    <tr>
      <td>372</td>

      <td>Ireland</td>
    </tr>
    <tr>
      <td>376</td>

      <td>Israel</td>
    </tr>
    <tr>
      <td>380</td>

      <td>Italy</td>
    </tr>
    <tr>
      <td>392</td>

      <td>Japan</td>
    </tr>
    <tr>
      <td>442</td>

      <td>Luxembourg</td>
    </tr>
    <tr>
      <td>458</td>

      <td>Malaysia</td>
    </tr>
    <tr>
      <td>484</td>

      <td>Mexico</td>
    </tr>
    <tr>
      <td>492</td>

      <td>Monaco</td>
    </tr>
    <tr>
      <td>528</td>

      <td>Netherlands</td>
    </tr>
    <tr>
      <td>554</td>

      <td>New Zealand</td>
    </tr>
    <tr>
      <td>578</td>

      <td>Norway</td>
    </tr>
    <tr>
      <td>604</td>

      <td>Peru</td>
    </tr>
    <tr>
      <td>608</td>

      <td>Philippines</td>
    </tr>
    <tr>
      <td>618</td>

      <td>Poland</td>
    </tr>
    <tr>
      <td>620</td>

      <td>Portugal</td>
    </tr>
    <tr>
      <td>630</td>

      <td>Puerto Rico</td>
    </tr>
    <tr>
      <td>642</td>

      <td>Romania</td>
    </tr>
    <tr>
      <td>643</td>

      <td>Russian Federation</td>
    </tr>
    <tr>
      <td>710</td>

      <td>South Africa</td>
    </tr>
    <tr>
      <td>724</td>

      <td>Spain</td>
    </tr>
    <tr>
      <td>752</td>

      <td>Sweden</td>
    </tr>
    <tr>
      <td>756</td>

      <td>Switzerland</td>
    </tr>
    <tr>
      <td>764</td>

      <td>Thailand</td>
    </tr>
    <tr>
      <td>792</td>

      <td>Turkey</td>
    </tr>
    <tr>
      <td>804</td>

      <td>Ukraine</td>
    </tr>
    <tr>
      <td>818</td>

      <td>Egypt</td>
    </tr>
    <tr>
      <td>826</td>

      <td>United Kingdom</td>
    </tr>
    <tr>
      <td>840</td>

      <td>United States</td>
    </tr>
    <tr>
      <td>858</td>

      <td>Uruguay</td>
    </tr>
    <tr>
      <td>862</td>

      <td>Venezuela</td>
    </tr>
    <tr>
      <td>891</td>

      <td>Yogoslavia</td>
    </tr>
  </tbody>
</table>
