<select class="govuk-select govuk-!-width-two-thirds" id="microchip-companies" name="microchip-companies">
  <option></option>
  <option data-code="" data-website="" data-company="" data-manufacture="">AnimalData</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">Animal Microchips</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">Animal Tracker</option>
  <option data-code="958" data-website="https://www.chipworks.co.uk/" data-company="Chipworks" data-manufacture="Pet ID">Chipworks</option>
  <option data-code="965" data-website="https://www.chipworks.co.uk/" data-company="Chipworks" data-manufacture="SwissPlus ID Group Pty Ltd">Chipworks</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">HomeAgain</option>
  <option data-code="985" data-website="https://www.identibase.co.uk/" data-company="Identibase" data-manufacture="Destron">Identibase</option>
  <option data-code="982" data-website="https://www.identibase.co.uk/" data-company="Identibase" data-manufacture="Allflex">Identibase</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">Lost Paws</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">MicroChip Central</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">MicroDogID</option><!-- (racing greyhounds only) -->
  <option data-code="" data-website="" data-company="" data-manufacture="">My Animal Trace</option>
  <option data-code="956" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="Trovan microchip">MyPet</option>
  <option data-code="972" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="Datamars">MyPet</option>
  <option data-code="990" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="Soartech Electronics Inc.">MyPet</option>
  <option data-code="993" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="Plastifran BV">MyPet</option>
  <option data-code="989" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="Biomark Inc.">MyPet</option>
  <option data-code="992" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="Smartrac Specialty GmbH">MyPet</option>
  <option data-code="968" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="AEG">MyPet</option>
  <option data-code="991" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="WUXI FOFIA Technology Co., Ltd">MyPet</option>
  <option data-code="993" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="Plastifran BV">MyPet</option>
  <option data-code="988" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="Datamars Inc">MyPet</option>
  <option data-code="932" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="BARTMED">MyPet</option>
  <option data-code="987" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="A1 ID SYSTEMS Ltd.">MyPet</option>
  <option data-code="963" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="AnimallTAG">MyPet</option>
  <option data-code="939" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="RealTrace">MyPet</option>
  <option data-code="937" data-website="https://mypethq.io/" data-company="MyPet" data-manufacture="Os ID as">MyPet</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">National Veterinary Data Service</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">Pet Chip Register</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">Pet Database</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">Pet Identity UK</option>
  <option data-code="981" data-website="https://www.petlog.org.uk/" data-company="Petlog" data-manufacture="Datamars microchip">Petlog</option>
  <option data-code="945" data-website="https://www.petlog.org.uk/" data-company="Petlog" data-manufacture="Business Inception Identification B.V.">Petlog</option>
  <option data-code="941" data-website="https://www.petlog.org.uk/" data-company="Felixcan" data-manufacture="Datamars microchip">Petlog</option>
  <option data-code="952" data-website="https://www.petlog.org.uk/" data-company="Jecta" data-manufacture="Datamars microchip">Petlog</option>
  <option data-code="967" data-website="https://www.petlog.org.uk/" data-company="Jecta" data-manufacture="RF Holding (Beheer) BV">Petlog</option>
  <option data-code="941" data-website="https://www.petlog.org.uk/" data-company="Jecta" data-manufacture="Datamars Iberica, S.L.U.">Petlog</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">PetScanner</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">ProtectedPet</option>
  <option data-code="933" data-website="https://smarttrace.org.uk/" data-company="Smarttrace" data-manufacture="Ornthana Intertrade Co.,ltd.">SmartTrace</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">Track Your Paws</option>
  <option data-code="977" data-website="https://www.pettrac.co.uk/" data-company="UK Pet Trac" data-manufacture="AVID">UK PETtrac MicroChip Database</option>
  <option data-code="953" data-website="https://www.pettrac.co.uk/" data-company="UK Pet Trac" data-manufacture="Virbac">UK PETtrac MicroChip Database</option>
  <option data-code="978" data-website="https://www.pettrac.co.uk/" data-company="UK Pet Trac" data-manufacture="Virbac">UK PETtrac MicroChip Database</option>
  <option data-code="944" data-website="https://www.pettrac.co.uk/" data-company="UK Pet Trac" data-manufacture="Net &amp; Telligent SA">UK PETtrac MicroChip Database</option>
  <option data-code="" data-website="" data-company="" data-manufacture="">We Trace Pets</option>
</select>





 











