<div
  class="hmrc-user-research-banner hmrc-user-research-banner--show"
  data-module="hmrc-user-research-banner"
>
  <div class="hmrc-user-research-banner__container govuk-width-container">
    <div class="hmrc-user-research-banner__text">
      <div class="hmrc-user-research-banner__title govuk-!-font-weight-bold">
        Help improve GOV.UK
      </div>
      <a
        class="govuk-link hmrc-user-research-banner__link"
        rel="noopener noreferrer"
        href="https://signup.take-part-in-research.service.gov.uk/home?utm_campaign=PTAhomepage&amp;utm_source=Other&amp;utm_medium=other&amp;t=HMRC&amp;id=209"
        target="_blank"
      >
        Help improve digital services by joining the HMRC user panel (opens in
        new window)
      </a>
    </div>
    <button class="govuk-link hmrc-user-research-banner__close">
      No thanks
    </button>
  </div>
</div>
