$green: #00a33b;
$bgcolor: #f3f2f1;
// $darkgreen: #00703c;
$darkgreen: rgba(1, 96, 35, 1);
$darkgrey: #4d534e;
$black: #000000;
$success: #28a197;
// #85994b
$bgheader: $black;
$bgnav: $darkgreen;
$headerheight: 80px;
$navheight: 100px;

* {
  font-family: Helvetica, Arial, sans-serif !important;
}
body {
  background-color: $bgcolor !important;
  padding-top: $headerheight;
  min-width: 380px;
}
main.pts-checker {
  padding-bottom: $navheight;
}

@import "./application.scss";
@import "./checker/pet-checker-home";
@import "./checker/pet-logos-white";
@import "./checker/pet-checker";
@import "./checker/pet-checker-header";
@import "./checker/pet-checker-management";
@import "./checker/pet-checker-navigation";
@import "./checker/pet-checker-scan";
@import "./checker/pet-checker-success-message";














