<select class="govuk-select govuk-!-width-full" id="cat-breeds">
  <option value=""></option>
  <option value="Unknown">Mixed-breed or unknown</option>

  <optgroup label="Domestic">
    <option>Domestic Shorthair</option>
    <option>Domestic Longhair</option>
    <option>Domestic Mediumhair</option>
  </optgroup>

  <optgroup label="Persian and Exotic">
    <option>Persian</option>
    <option>Exotic Shorthair</option>
  </optgroup>

  <optgroup label="Siamese and Oriental">
    <option>Siamese</option>
    <option>Oriental Shorthair</option>
    <option>Oriental Longhair</option>
  </optgroup>

  <optgroup label="Natural Breeds">
    <option>Maine Coon</option>
    <option>British Shorthair</option>
    <option>American Shorthair</option>
    <option>Norwegian Forest Cat</option>
  </optgroup>

  <optgroup label="Spotted and Wild">
    <option>Bengal</option>
    <option>Ocicat</option>
    <option>Savannah</option>
    <option>Leopard Cat (not a domestic breed)</option>
  </optgroup>

  <optgroup label="Short-haired">
    <option>Russian Blue</option>
    <option>Sphynx</option>
    <option>Scottish Fold</option>
    <option>Devon Rex</option>
    <option>Cornish Rex</option>
  </optgroup>

  <optgroup label="Long-haired">
    <option>Ragdoll</option>
    <option>Birman</option>
    <option>Himalayan</option>
    <option>Scottish Fold Longhair</option>
    <option>Siberian</option>
  </optgroup>

  <optgroup label="Other Breeds">
    <option>Abyssinian</option>
    <option>Burmese</option>
    <option>Chartreux</option>
    <option>Tonkinese</option>
    <option>Turkish Angora</option>
    <option>Turkish Van</option>
    <option>Manx</option>
  </optgroup>
</select>
