<select class="govuk-select govuk-!-width-full" id="dog-breeds">
  <option value=""></option>
  <option value="Unknown">Mixed-breed or unknown</option>

  <optgroup label="Toy Group">
    <option value="1">Chihuahua</option>
    <option value="1">Pekingese</option>
    <option value="1">Pomeranian</option>
    <option value="2">Toy Poodle</option>
    <option value="1">Italian Greyhound</option>
    <option value="1">Shih Tzu</option>
    <option value="1">Papillon</option>
    <option value="1">Cavalier King Charles Spaniel</option>
  </optgroup>
  
  <optgroup label="Hound Group">
    <option value="1">Afghan Hound</option>
    <option value="1">Basset Hound</option>
    <option value="1">Beagle</option>
    <option value="1">Bloodhound</option>
    <option value="1">Borzoi</option>
    <option value="1">Dachshund</option>
    <option value="1">Greyhound</option>
    <option value="1">Whippet</option>
  </optgroup>
  
  <optgroup label="Sporting Group">
    <option value="1">Cocker Spaniel</option>
    <option value="1">English Setter</option>
    <option value="1">German Shorthaired Pointer</option>
    <option value="1">Golden Retriever</option>
    <option value="1">Irish Setter</option>
    <option value="1">Labrador Retriever</option>
    <option value="1">Vizsla</option>
    <option value="1">Weimaraner</option>
  </optgroup>
  
  <optgroup label="Working Group">
    <option value="1">Boxer</option>
    <option value="1">Doberman Pinscher</option>
    <option value="1">Great Dane</option>
    <option value="1">Mastiff</option>
    <option value="1">Rottweiler</option>
    <option value="1">Siberian Husky</option>
    <option value="1">Saint Bernard</option>
    <option value="1">Alaskan Malamute</option>
  </optgroup>
  
  <optgroup label="Terrier Group">
    <option value="1">Airedale Terrier</option>
    <option value="1">Bull Terrier</option>
    <option value="1">Cairn Terrier</option>
    <option value="1">Fox Terrier</option>
    <option value="1">Irish Terrier</option>
    <option value="1">Jack Russell Terrier</option>
    <option value="1">Scottish Terrier</option>
    <option value="1">West Highland White Terrier</option>
  </optgroup>
  
  <optgroup label="Non-Sporting Group">
    <option value="1">Bulldog</option>
    <option value="1">Chow Chow</option>
    <option value="1">Dalmatian</option>
    <option value="1">French Bulldog</option>
    <option value="1">Lhasa Apso</option>
    <option value="3">Poodle (Standard and Miniature)</option>
    <option value="1">Shar Pei</option>
  </optgroup>
  
  <optgroup label="Herding Group">
    <option value="1">Australian Shepherd</option>
    <option value="1">Border Collie</option>
    <option value="1">Collie</option>
    <option value="1">German Shepherd</option>
    <option value="1">Old English Sheepdog</option>
    <option value="1">Shetland Sheepdog</option>
    <option value="1">Belgian Malinois</option>
    <option value="1">Corgi (Pembroke and Cardigan)</option>
  </optgroup>
  
  <optgroup label="Miscellaneous & Others">
    <option value="1">Basenji</option>
    <option value="1">Belgian Tervuren</option>
    <option value="1">Bernese Mountain Dog</option>
    <option value="1">Bichon Frise</option>
    <option value="1">Boston Terrier</option>
    <option value="1">Newfoundland</option>
    <option value="1">Samoyed</option>
    <option value="1">Portuguese Water Dog</option>
    <option value="1">Pug</option>
    <option value="4">Cockapoo</option>
  </optgroup>
</select>
