<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <title>
            
    Pet Travel Scheme:
    Check a pet travelling from Great Britain to Northern Ireland
    – GOV.UK

        </title>

    <link href="/assets/css/application.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/checker.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/javascripts/autocomplete/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" media="all">

    <script type="module" src="/assets/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>
      
    <style>

           body {
        padding-top: 30px !important;
      }

      .govuk-button,
      .govuk-error-message,
      .govuk-error-summary__body,
      .govuk-error-summary__list a,
      .govuk-error-summary__title,
      .govuk-heading-xl,
      .govuk-label {
        font-family: sans-serif;
      }
    </style>
    {% block headContent %}
    {% endblock %}
  </head>
  <body class="govuk-template__body">
    <script>
      document.body.className += ' js-enabled' + (
        'noModule' in HTMLScriptElement.prototype
        ? ' govuk-frontend-supported'
        : '');
    </script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <div class="govuk-width-container">

      <main class="govuk-main-wrapper" id="main-content" role="main">
        {% block content %}Default Content
                    {% endblock %}
      </main>
    </div>
    {% block bodyContent %}
    {% endblock %}
  </body>
      {% block scripts %}
    <script type="module">
        import { initAll } from '../../../../assets/govuk-frontend/dist/govuk/govuk-frontend.min.js';
        initAll()
    </script> 
    {% endblock %}
</html>