<!DOCTYPE html>
<html lang="en" class="govuk-template">

    <head>
        <title>
            {% block pageTitle %}
            {{checkerMainModelData[0].serviceName}} – GOV.UK
            {% endblock %}
        </title>
        
        {% block stylesheets %}
        <link href="/assets/css/hmrc-design-system.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/application.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/checker.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/javascripts/autocomplete/accessible-autocomplete.min.css" rel="stylesheet" type="text/css"
            media="all" />
        {% endblock %}

        <script type="module" src="/assets/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>
        <script type="module" src="/assets/hmrc-frontend/hmrc-design-system.js"></script>
    </head>
    <body class="govuk-template__body js-enabled govuk-frontend-supported">
    {% include "../partials/checkerHeader.html" %}


    {% set mainClasses = "pts-checker govuk-!-margin-bottom-9 govuk-!-padding-top-4" %}
    <div class="govuk-width-container">
        {% block beforeContent %}
        {% endblock %}
    
        <div class="pts-checker govuk-!-margin-bottom-9 govuk-!-padding-top-4" >
            {% block content %}Default Content{% endblock %}
        </div>
    </div>
   
    {% include "../partials/checkerFooter.html" %}

    <meta 
        name="hmrc-timeout-dialog" 
        content="hmrc-timeout-dialog" 
        data-language="en" 
        data-timeout="{{ headerData['sessionTimeoutInSeconds'] }}" 
        data-countdown="{{ headerData['sessionTimeoutCountdownInSeconds'] }}" 
        data-keep-alive-url="?continue=true" 
        data-sign-out-url="/timeout" 
        data-timeout-url="" 
        data-title="You’re about to be signed out" 
        data-message="For your security, we will sign you out in" 
        data-message-suffix="" 
        data-keep-alive-button-text="Stay signed in" 
        data-sign-out-button-text="Sign out" 
        data-synchronise-tabs="" 
        data-hide-sign-out-button="" 
    />

</body>
    {% block scripts %}
    <script type="module">
        import { initAll } from '../../../../assets/govuk-frontend/dist/govuk/govuk-frontend.min.js';
        initAll()
    </script> 
    {% endblock %}
</html>