.login-nav {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #0b0c0c;
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bfc1c3;
}

.login-nav::after {
  content: "";
  display: block;
  clear: both;
}

.login-nav__list {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  list-style-type: none;
  float: right;
}

.login-nav__list::after {
  content: "";
  display: block;
  clear: both;
}

.login-nav__list-item {
  position: relative;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 0;
  float: left;
}

#profile .profile,
#account .account {
  text-decoration: none;
  font-weight: 600;
}

.login-nav__link {
  margin-right: 5px;
}

.login-nav__details {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #0b0c0c;
  margin: 0;
  padding-bottom: 10px;
  float: left;
}

.login-nav__details::after {
  content: "";
  display: block;
  clear: both;
}

@media print {
  .login-nav {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .login-nav {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .login-nav {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media print {
  .login-nav {
    color: #000000;
  }
}

@media print {
  .login-nav__details {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .login-nav__details {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .login-nav__details {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media print {
  .login-nav__details {
    color: #000000;
  }
}

/*** Small viewports ***/
@media all and (max-width: 40.0625em) {
  .login-nav__details {
    float: none;
  }

  .login-nav__list {
    float: none;
  }
}
