{% extends "./layouts/checkerLayout.html" %}
{% block pageTitle %} Report non-compliance - {{ model.ptsTitle }}:{{ model.ptsSubTitle }} – GOV.UK {% endblock %}

{% block beforeContent %}
<a href="javascript:void(0);" class="govuk-back-link" id="backButton">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper pts-checker govuk-!-margin-bottom-9 govuk-!-padding-top-4" id="main-content">

        <div class="govuk-grid-row govuk-!-margin-bottom-0 govuk-!-margin-top-0">
            <div class="govuk-grid-column-full govuk-!-margin-top-0">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Report non-compliance</h1>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-static-margin-top-6">
            <div class="govuk-grid-column-two-thirds">

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">Pet Travel Document details</span>
                    </summary>
                    <div class="govuk-details__text">
                        <div id="document-issued-card" class="govuk-summary-card govuk-!-static-margin-top-0">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Pet Travel Document (PTD)</h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">PTD number</dt>
                                        <dd class="govuk-summary-list__value">GB826 123 456</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Date</dt>
                                        <dd class="govuk-summary-list__value">30/09/2023</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Status</dt>
                                        <dd class="govuk-summary-list__value">
                                            <strong class="govuk-tag govuk-tag--green">Approved</strong>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </details>

                <h2 class="govuk-heading-l govuk-!-static-margin-bottom-2">Reasons</h2>
                <div id="event-name-hint" class="govuk-hint">Select all that apply.</div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">Microchip</h3>
                        </legend>
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Microchip details from PTD</span>
                            </summary>
                            <div class="govuk-details__text">
                                <div id="document-microchip-card" class="govuk-summary-card">
                                    <div class="govuk-summary-card__title-wrapper">
                                        <h2 class="govuk-summary-card__title">Microchip information from PTD or application</h2>
                                    </div>
                                    <div class="govuk-summary-card__content">
                                        <dl class="govuk-summary-list">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Microchip number</dt>
                                                <dd class="govuk-summary-list__value">012345678912345</dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Implant or scan date</dt>
                                                <dd class="govuk-summary-list__value">10/03/2020</dd>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </details>

                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="microchipNumberRadio" name="microchipNumberRadio" type="checkbox" value="email" aria-controls="conditional-microchipNumber" aria-expanded="false">
                                <label class="govuk-label govuk-checkboxes__label" for="microchipNumberRadio">Microchip number does not match the PTD</label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-microchipNumber">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="microchipNumber">Microchip number found in scan</label>
                                    <input class="govuk-input govuk-input--width-20" id="microchipNumber" name="microchipNumber" type="text">
                                </div>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ptdProblem" name="ptdProblem" type="checkbox" value="england">
                                <label class="govuk-label govuk-checkboxes__label" for="ptdProblem">Cannot find microchip</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="pet-details-form-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">Visual check</h3>
                        </legend>

                        <details class="govuk-details govuk-!-static-margin-bottom-4">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Pet details from PTD</span>
                            </summary>
                            <div class="govuk-details__text">
                                <div id="document-pet-card" class="govuk-summary-card">
                                    <div class="govuk-summary-card__title-wrapper">
                                        <h2 class="govuk-summary-card__title">Pet details from PTD or application</h2>
                                    </div>
                                    <div class="govuk-summary-card__content">
                                        <dl class="govuk-summary-list">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Species</dt>
                                                <dd class="govuk-summary-list__value">Dog</dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Breed</dt>
                                                <dd class="govuk-summary-list__value">Beagle</dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Sex</dt>
                                                <dd class="govuk-summary-list__value">Male</dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Date of birth</dt>
                                                <dd class="govuk-summary-list__value">19/12/2019</dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Colour</dt>
                                                <dd class="govuk-summary-list__value">Black</dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Significant features</dt>
                                                <dd class="govuk-summary-list__value">White star on his chest</dd>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </details>

                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="visualCheckProblem" name="visualCheckProblem" type="checkbox" value="Pet does not match the PTD details">
                                <label class="govuk-label govuk-checkboxes__label" for="visualCheckProblem">Pet does not match the PTD</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">Other issues</h3>
                        </legend>

                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="otherReason" name="otherReason" type="checkbox" value="Other issues">
                                <label class="govuk-label govuk-checkboxes__label" for="otherReason">Other issues</label>
                            </div>
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="moreDetailOtherIssues">Provide details</label>
                            <textarea class="govuk-textarea" id="moreDetailOtherIssues" name="moreDetailOtherIssues" rows="5" aria-describedby="waste-hint"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </div>

    </main>
</div>
{% endblock %}
