{% extends "layouts/checkerLayout.html" %}

{% block pageTitle %} Report non-compliance - {{ model.ptsTitle }}:{{ model.ptsSubTitle }} – GOV.UK {% endblock %}
{% block headContent %}
<!-- Include custom styles directly in the page -->
<style>
    .govuk-button--link {
      border: none;      
      text-decoration: underline;
      cursor: pointer;
    }
</style>
{% endblock %}

{% block beforeContent %}
<a href="javascript: history.back();" class="govuk-back-link govuk-!-margin-top-9">Back</a>
{% endblock %}

{% set microchipNumber = data.microchipNumber %}
{% set microchipDate = data.microchipDate %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">

    <div id="errorSummary">
      {% if formSubmitted and errorSummary|length > 0 %}
      {% include "errors/displayErrorSummary.html" %}
      {% endif %}
    </div>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Report non-compliance
    </h1>

    <form id="nonComplianceForm" action="/checker/non-compliance" method="POST">
      <div class="govuk-grid-row govuk-!-margin-bottom-0 govuk-!-margin-top-4">
        <div class="govuk-grid-column-full govuk-!-margin-top-0">
          <div class="govuk-form-group">
              {% if data['documentState'] !== "awaiting" and data['documentState'] !== "rejected" %}
                {% include "componentViews/checker/noncompliance/ptdDetails.html" %}
              {% endif %} 

              {% if data['documentState'] === "awaiting" or data['documentState'] === "rejected" %}
                {% include "componentViews/checker/noncompliance/applicationDetails.html" %} 
              {% endif %}             
              
              <div class="govuk-section-break--l">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-heading-l">
                    Reasons
                  </h2>
                </legend>
                <div id="event-name-hint" class="govuk-hint">
                  Select all that apply.
                </div>
              </div>

              {% if data['documentState'] !== "approved" %} 
              <div class="govuk-section-break--l">
                <h3 class="govuk-heading-m">Pet Travel Document</h3>
                <div class="govuk-checkboxes__item">
                  <p class="govuk-body govuk-!-margin-bottom-0 pts-checker-check">
                    PTD {{ documentStatus | lower }}
                  </p>
                </div>
              </div>
              {% endif %}
              <div class="govuk-form-group {% if errors['missingReason'] %}govuk-form-group--error{% endif %}">
                <!-- Display error message inline if the non compliance reason is not selected -->
                {% if errors['missingReason'] %}
                <p id="missingReasonError" class="govuk-error-message">
                  {{ errors['missingReason'] }}
                </p>
                {% endif %}
              
                <!-- Include Microchip Section -->
                {% include "componentViews/checker/noncompliance/microchipSection.html" %}

                <!-- Include Other Issues Section -->
                {% include "componentViews/checker/noncompliance/otherIssuesSection.html" %}
              </div>

              {% include "componentViews/checker/noncompliance/passengerDetails.html" %}

              {% if data['isGBCheck'] %}
                {% include "componentViews/checker/noncompliance/gbOutCome.html" %}
              {% else %}
                {% include "componentViews/checker/noncompliance/spsOutcome.html" %}
              {% endif %}
              {% include "componentViews/checker/noncompliance/outcomeDetails.html" %}
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <div class="govuk-grid-row" style="margin-bottom: 100px;">
        <div class="govuk-grid-column-one-half">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save outcome
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<script>
if(window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }

</script>

{% endblock %}