<div id="passengerFormGroup" name="passengerFormGroup" class="govuk-form-group {% if errors['passengerType'] %}govuk-form-group--error{% endif %}">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">Type of passenger</h3>
    </legend>

    <!-- Display error message inline if the passenger type is not selected -->
    {% if errors['passengerType'] %}
      <p id="passengerError" class="govuk-error-message">
        {{ errors['passengerType'] }}
      </p>
    {% endif %}

    <div class="govuk-radios" data-module="govuk-radios" id="passengerType">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" 
               id="footPassenger" 
               name="passengerType" 
               type="radio" 
               value="footPassenger" 
               {% if payload['passengerType'] == 'footPassenger' %}checked{% endif %}>
        <label class="govuk-label govuk-radios__label" for="footPassenger">Foot passenger</label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" 
               id="vehiclePassenger" 
               name="passengerType" 
               type="radio" 
               value="vehiclePassenger" 
               {% if payload['passengerType'] == 'vehiclePassenger' %}checked{% endif %}>
        <label class="govuk-label govuk-radios__label" for="vehiclePassenger">Vehicle</label>
      </div>
    </div>
  </fieldset>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


