<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Pet owner details
        </span>
    </summary>
    <div class="govuk-details__text">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Name</dt>
                <dd class="govuk-summary-list__value">{{ data['petOwnerName'] if data['petOwnerName'] else
                    ""}}</dd>                
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email</dt>
                <dd class="govuk-summary-list__value">{{ data['petOwnerEmail'] if data['petOwnerEmail'] else
                    ""}}</dd>                
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    {%if  data['petOwnerAddress'].addressLineOne !== '' %}
                        <p> {{data['petOwnerAddress'].addressLineOne}}</p>
                    {% endif %}
                    
                    {%if data['petOwnerAddress'].addressLineTwo !== '' %}
                    <p> {{data['petOwnerAddress'].addressLineTwo}}</p>
                    {% endif %}

                    {%if data['petOwnerAddress'].townOrCity !== '' %}
                    <p> {{data['petOwnerAddress'].townOrCity}}</p>
                    {% endif %}

                    {%if  data['petOwnerAddress'].postCode !== '' %}
                    <p> {{data['petOwnerAddress'].postCode}}</p>
                    {% endif %}
                </dd>            
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Phone number</dt>
                <dd class="govuk-summary-list__value">{{ data['petOwnerTelephone'] if data['petOwnerTelephone'] else
                    ""}}</dd>                
            </div>
        </dl>
    </div>
</details>