<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="spsOutcomeLegend">
    <legend id="spsOutcomeLegend">
      <h2 class="govuk-heading-l govuk-!-static-margin-top-6">SPS outcome</h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="spsOutcome-Allowed" name="spsOutcome" type="radio" value="true" aria-labelledby="allowed"
        {% if  payload['spsOutcome']=="true" %}checked{% endif %}>
        <label class="govuk-label govuk-radios__label" id="allowed" for="spsOutcome-Allowed">
          Allowed to travel under Windsor Framework
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="spsOutcome-Not-Allowed" name="spsOutcome" type="radio" value="false" aria-labelledby="notAllowed"
        {% if payload['spsOutcome']=="false" %}checked{% endif %}>
        <label class="govuk-label govuk-radios__label" id="notAllowed" for="spsOutcome-Not-Allowed">
          Not allowed to travel under Windsor Framework
        </label>
      </div>    
    </div>
  </fieldset>
</div>