<div id="spsOutcomeFormGroup" name="spsOutcomeFormGroup" class="govuk-form-group {% if errors['spsOutcome'] %}govuk-form-group--error{% endif %}"> 
  <fieldset class="govuk-fieldset" aria-describedby="spsOutcomeLegend">
    <legend id="spsOutcomeLegend" class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-heading-l">Record outcome</h2>
    </legend>
    <div>
      <!-- Display error message inline if the spsOutcome -->
      {% if errors['spsOutcome'] %}
        <span id="spsOutcomeError" class="govuk-error-message">
          {{ errors['spsOutcome'] }}
        </span>
      {% endif %}
    </div>
    
  </fieldset>
</div>