{% extends "./layouts/checkerLayout.html" %}

{% block headContent %}{% endblock %}

{% block beforeContent %}
{{ super() }}
<a href="javascript: history.back();" class="govuk-back-link govuk-!-margin-top-9">Back</a>
{% endblock %}

{% block pageTitle %} Referred to SPS - {{serviceName}} – GOV.UK {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-xl">GB checks</span>
            <h1 class="govuk-heading-xl">Referred to SPS</h1>

            <table class="govuk-table govuk-table--small-text-until-tablet">

                <caption class="govuk-table__caption govuk-table__caption--m">
                  {{check[0].routeName}} - {{check[0].departureDate}} {{check[0].departureTime}}
                </caption>
                
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">PTD/Reference number</th>
                    <th scope="col" class="govuk-table__header">Pet</th>
                    <th scope="col" class="govuk-table__header">Microchip</th>
                    <th scope="col" class="govuk-table__header">Travel by</th>
                    <th scope="col" class="govuk-table__header">SPS outcome</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body"></tbody>
                {% for spsCheck in spsChecks %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/checker/search-results-ptd/{{spsCheck.PTDNumber}}">{{spsCheck.PTDNumber}}</a></th>
                    <td class="govuk-table__cell">{{spsCheck.PetDescription}}</td>
                    <td class="govuk-table__cell">{{spsCheck.Microchip}}</td>
                    <td class="govuk-table__cell">{{spsCheck.TravelBy}}</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--{{spsCheck.classColour}}">
                        {{spsCheck.SPSOutcome}}
                      </strong>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

    

{% endblock %}

{% block bodyContent %}{% endblock %}