{% if currentSailingSlot %}
<section class="pts-location-bar" role="region">
  <div class="govuk-width-container">
    <p>
    {% if currentSailingSlot.selectedRouteOption.id === ROUTE_OPTION_ID %}
      <b>Route:</b> {{currentSailingSlot.selectedRoute.value}} &nbsp;&nbsp;&nbsp;&nbsp;
      {% else %}
      <b>Flight number:</b> {{currentSailingSlot.routeFlight}} &nbsp;&nbsp;&nbsp;&nbsp;
      {% endif %}<b>Departure:</b> {{currentSailingSlot.departureDate}} {{currentSailingSlot.sailingHour}}:{{currentSailingSlot.sailingMinutes}}
      &nbsp;&nbsp;<a href="/checker/current-sailings">Change</a>
    </p>
  </div>
</section>
{% endif %}