<div id="flight-form" class="govuk-form-group {% if errorFlight %}govuk-form-group--error{%endif %}">
    <label class="govuk-label" for="routeFlight">
      <b>{{currentSailingMainModelData.flightSubHeading }}</b>
    </label>
    <div>
      {% if errorFlight %}
      <p id="flight-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">{{currentSailingMainModelData.currentSailingMainModelErrors.labelError
          }}</span> {{currentSailingMainModelData.currentSailingMainModelErrors.flightNoEmptyError}}
      </p>
      {% endif %}
    </div>
    <input class="govuk-input {% if errorFlight %} govuk-input--error {%endif %} govuk-!-width-one-third" id="routeFlight" name="routeFlight" type="text" autocomplete="tel" value="{{ routeFlight }}">
</div>