<div class="govuk-form-group govuk-!-margin-top-6 {% if errorRouteOptionRadio %}govuk-form-group--error{% endif %}">
  <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h2 class="govuk-fieldset__heading">{{ currentSailingMainModelData.routeOptionHeading }}</h2>
      </legend>
      <div>
          {% if errorRouteOptionRadio %}
          <p class="govuk-error-message">
              <span class="govuk-visually-hidden">{{ currentSailingMainModelData.currentSailingMainModelErrors.labelError }}</span>
              {{ currentSailingMainModelData.currentSailingMainModelErrors.routeOptionError }}
          </p>
          {% endif %}
      </div>
      <div class="govuk-radios" data-module="govuk-radios">
          {% for option in currentSailingMainModelData.routeOptions %}
          <div class="govuk-radios__item">
              {% if option.id == 1 %}
              <input 
                  class="govuk-radios__input" 
                  id="routeOption" 
                  name="routeOption" 
                  type="radio" 
                  value="{{ option.id }}" 
                  {% if routeOption == option.id %}checked{% endif %}
                  data-aria-controls="conditional-routeOption"
                  aria-label="{{ option.label }}">
              <label class="govuk-label govuk-radios__label" for="routeOption">
                  {{ option.label }}
              </label>
              {% else %}
              <input 
                  class="govuk-radios__input" 
                  id="routeOption-{{ option.id }}" 
                  name="routeOption" 
                  type="radio" 
                  value="{{ option.id }}" 
                  {% if routeOption == option.id %}checked{% endif %}
                  data-aria-controls="conditional-routeOption-{{ option.id }}"
                  aria-label="{{ option.label }}">
              <label class="govuk-label govuk-radios__label" for="routeOption-{{ option.id }}">
                  {{ option.label }}
              </label>
              {% endif %}
          </div>
          {% if option.id == 1 %}
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-routeOption">
              {% include "includes/sailing/" + option.template %}
          </div>
          {% else %}
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-routeOption-{{ option.id }}">
              {% include "includes/sailing/" + option.template %}
          </div>
          {% endif %}
          {% endfor %}
      </div>
  </fieldset>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const errorClass = "govuk-form-group--error";
  
    const ferryRadioButton = document.getElementById('routeOption');
    const flightRadioButton = document.getElementById('routeOption-2');
    const conditionalContentFlight = document.getElementById('conditional-routeOption-2');
    const selectRouteLink = document.querySelector('a[href="#routeOption"]');
    const ferryError = document.getElementById('ferry-error');
    const ferryform = document.getElementById('ferry-form');
    const ferryRouteOne = document.getElementById('routeRadio');
    const ferryRouteTwo = document.getElementById('routeRadio-1');
    const ferryRouteThree = document.getElementById('routeRadio-2');
  
    const flightNoEmptyError = document.getElementById('flight-error');
    const flightform = document.getElementById('flight-form');
    const flightText = document.getElementById('routeFlight');
  
    ferryRadioButton.addEventListener('change', function() {
        if (ferryRadioButton.checked) {
            if (flightform.classList.contains(errorClass)) {
                flightform.classList.remove(errorClass);
            }
  
            if (flightNoEmptyError) {
                flightNoEmptyError.remove();
            }
  
            flightText.value = '';
        }
    });
  
    flightRadioButton.addEventListener('change', function() {
        if (flightRadioButton.checked) {
            if (ferryform.classList.contains(errorClass)) {
                ferryform.classList.remove(errorClass);
            }
  
            if (ferryError) {
                ferryError.remove();
            }
  
            if (ferryRouteOne) {
                ferryRouteOne.checked = false;
            }
  
            if (ferryRouteTwo) {
                ferryRouteTwo.checked = false;
            }
  
            if (ferryRouteThree) {
                ferryRouteThree.checked = false;
            }
        }
    });
  
    if (selectRouteLink) {
        selectRouteLink.addEventListener('click', function(e) {
            e.preventDefault();
            if (!conditionalContentFlight.classList.contains('govuk-radios__conditional--hidden')) {
                conditionalContentFlight.classList.add('govuk-radios__conditional--hidden');
            }
        });
    }
  });
  </script>
  
