
{% extends "./layouts/checkerLayout.html" %}

{% block pageTitle %} Set location - {{checkerMainModelData[0].serviceName}}– GOV.UK {% endblock %}

{% block beforeContent %}
<a href="javascript: history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-0">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">

        <form action="../dashboard/">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Where are you working today?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                                value="scotland" aria-describedby="signIn-item-hint">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                                Cairnryan
                            </label>
                            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                                Scotland, UK
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio"
                                value="england" aria-describedby="signIn-item-hint">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                                Liverpool Birkenhead
                            </label>
                            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                                England, UK
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio"
                                value="wales" aria-describedby="signIn-item-hint">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                                Belfast
                            </label>
                            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                                Northern Ireland, Ireland, UK
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                                value="northern-ireland" aria-describedby="signIn-item-hint">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                                Larne
                            </label>
                            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                                Northern Ireland, Ireland, UK
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>

    </div>
</div>

{#
Routes


Belfast
Northern Ireland, Ireland, UK
Cairnryan
Scotland, UK

Belfast
Northern Ireland, Ireland, UK
Douglas
Isle of Man, UK

Belfast
Northern Ireland, Ireland, UK
Liverpool Birkenhead
England, UK

Cairnryan
Scotland, UK
Belfast, Northern Ireland, Ireland, UK


Liverpool Birkenhead, England, UK
Belfast, Northern Ireland, Ireland, UK
Larne, Northern Ireland, Ireland, UK
Cairnryan, Scotland, UK

Douglas
Isle of Man, UK#}


{% endblock %}