{% extends "./layouts/errorLayout.html" %}
{% block headContent %}
<!-- Include custom styles directly in the page -->
<style>
    body {
      padding-top: 110px;
    }

</style>
{% endblock %}

{% block pageTitle %} You cannot access this page or perform this action – GOV.UK {% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">You cannot access this page or perform this action</h1>
          <p>
            Contact your team leader with any queries.
          </p>
      </div>
  </div>
</div>


{% endblock %}