{% extends "./layouts/noIconsLayout.html" %}
{% block headContent %}
<!-- Include custom styles directly in the page -->
<style>
    body {
      padding-top: 110px;
    }

</style>
{% endblock %}

{% block pageTitle %} Sorry, there is a problem with the service{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, there is a problem with the service
          </h1>
          <p class="govuk-body">
            Try again later.
          </p>
          <p class="govuk-body">
            If you were in the middle of a check, we have not saved your answers. When the service is available, you will have to start again.
          </p>
          <p>
            Contact your team leader with any queries.
          </p>
        </div>
  </div>
</div>


{% endblock %}