{% extends "./layouts/noIconsLayout.html" %}

{% block pageTitle %}Accessibility statement for Check a pet travelling from GB to NI – {{ model.checkerTitle }}: {{
model.checkerSubtitle }}{% endblock %}

{% block beforeContent %}
<a href="/" class="govuk-back-link pet-travel-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Accessibility statement for Check a pet travelling from GB to NI</h1>

            <p class="govuk-body">This accessibility statement applies to the ‘Check a pet travelling from GB to NI’
                service.</p>

            <p class="govuk-body">This website is run by the Department of Environment, Food and Rural Affairs.</p>

            <p class="govuk-body">We want as many people as possible to be able to use this website. For example, that
                means you should be able to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>use browser settings or plugins to change colours, contrast levels and fonts</li>
                <li>use browser settings or other software to zoom in up to 300% without the text spilling off the
                    screen</li>
                <li>navigate most of the website using just a keyboard</li>
                <li>navigate most of the website using speech recognition software</li>
            </ul>

            <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>

            <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet (opens in new
                    tab)</a> has advice on making your device easier to use if you have a disability.</p>


            <h2 class="govuk-heading-l">How accessible this website is</h2>

            <p class="govuk-body">We know some parts of this website are not fully accessible.</p>

            <p class="govuk-body">There are access issues for users who require audio feedback to navigate and interact
                with page content:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>some page elements either do not contain discernible text or programmatically determined labels, or
                    they are not descriptive enough for users to determine their function or purpose</li>
                <li>non-text content does not have appropriate textual alternatives for these users</li>
                <li>content structure is not properly conveyed, particularly relating to heading and grouping structure
                </li>
                <li>some content is hidden from these users despite being available visibly</li>
                <li>interactive elements are not marked up properly</li>
                <li>it could be difficult for keyboard-only users to track the order in which some page elements receive
                    focus because focus did not follow the expected order or was obscured by other content</li>
                <li>interactive elements could be difficult to read when receiving keyboard focus due to their change in
                    colour</li>
                <li>some components are not fully compatible with voice activation software or were not labelled
                    accessibly, meaning alternative voice commands are needed</li>
            </ul>

            <p class="govuk-body">Some colour combinations are low contrast and are likely to be difficult for people
                with low vision to read.</p>

            <p class="govuk-body">Interactive elements do not have sufficient labels or instructions.</p>

            <p class="govuk-body">Some error messages are not sufficiently clear, meaning it may be difficult for some
                users to complete form fields.</p>



            <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>

            <p class="govuk-body">If you find any problems not listed on this page or think we're not meeting
                accessibility requirements, contact us by:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Email: <a href="mailto:NIPetTravel@apha.gov.uk">NIPetTravel@apha.gov.uk</a></li>
                <li>Phone: 03000 200 301 – from 8.30am to 5pm, Monday to Friday (excluding bank holidays)</li>
            </ul>

            <p class="govuk-body">We'll consider your request and get back to you within 5 days.</p>



            <h2 class="govuk-heading-l">Enforcement procedure</h2>

            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
                Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the
                'accessibility regulations'). If you're not happy with how we respond to your complaint, <a
                    href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and
                    Support Service (EASS) (opens in new tab)</a>.</p>

            <p class="govuk-body">If you live in Northern Ireland, complain to the <a href="https://www.equalityni.org/"
                    target="_blank">Equalities Commission for Northern Ireland (ECNI) (opens in new tab)</a>.</p>



            <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>

            <p class="govuk-body">The Department for Environment, Food and Rural Affairs is committed to making its
                website accessible, in accordance with the <a
                    href="https://www.legislation.gov.uk/uksi/2018/952/contents" target="_blank">Public Sector Bodies
                    (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (opens in a new tab)</a>.
            </p>



            <h3 class="govuk-heading-m">Compliance status</h3>

            <p class="govuk-body">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/"
                    target="_blank">Web Content Accessibility Guidelines version 2.1 (opens in new tab)</a> AA standard,
                due to the non-compliances listed below.</p>



            <h3 class="govuk-heading-m">Non-accessible content</h3>

            <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>



            <h4 class="govuk-heading-s">Non-compliance with the accessibility regulations</h4>

            <ul class="govuk-list govuk-list--bullet">
                <li>Interactive elements did not have sufficient visible labels or instructions to assist users in
                    completing forms. This fails WCAG 2.2 success criteria 3.3.2 Labels or Instructions (Level A) and
                    4.1.2 Name, Role, Value (Level A). We are investigating how to fix this, and will review this again
                    by September 2025.</li>
                <li>The header has footer descendants, which is not valid and may result in parsing errors and some
                    content being inaccessible to users. This fails WCAG 2.2 success criteria 1.3.1 Info and
                    Relationships (Level A). We are investigating how to fix this, and will review this again by
                    September 2025.</li>
                <li>Text did not contrast sufficiently to be discernible to low vision users. This fails WCAG 2.2
                    success criteria 1.4.3 Contrast (Minimum) (Level AA) and 1.4.6 Contrast (Enhanced) (Level AAA). We
                    are investigating how to fix this, and will review this again by September 2025.</li>
                <li>Error messages did not provide sufficient suggestions for users to resolve input errors. This fails
                    WCAG 2.2 success criteria 3.3.3 Error Suggestion (Level AA). We are investigating how to fix this,
                    and will review this again by September 2025.</li>
                <li>Interactive elements were obscured by other content when receiving keyboard focus, hindering
                    keyboard navigation. This fails WCAG 2.2 success criteria 2.4.11 Focus Not Obscured (Minimum) (Level
                    AA) and 2.4.12 Focus Not Obscured (Enhanced) (Level AAA). We are investigating how to fix this, and
                    will review this again by September 2025.</li>
                <li>Non-text content did not have sufficient or appropriate textual alternatives for screen reader
                    users. This fails WCAG 2.2 success criteria 1.1.1 Non-text Content (Level A). We are investigating
                    how to fix this, and will review this again by September 2025.</li>
                <li>Heading structure was not properly conveyed to screen reader users. This fails WCAG 2.2 success
                    criteria 1.3.1 Info and Relationships (Level A). We are investigating how to fix this, and will
                    review this again by September 2025.</li>
                <li>Links whose purpose was conveyed through images had no accessible names, meaning they may not be
                    accessible to users of screen reading and voice activation software. This fails WCAG 2.2 success
                    criteria 1.1.1 Non-text Content (Level A), 2.4.4 Link Purpose (In Context) (Level A), 2.5.3 Label in
                    Name (Level A), 4.1.2 Name, Role, Value (Level A) and 2.4.9 Link Purpose (Link Only) (Level AAA). We
                    are investigating how to fix this, and will review this again by September 2025.</li>
                <li>Interactive elements were contained within other interactive elements in the markup, posing barriers
                    to assistive technology users. This fails WCAG 2.2 success criteria 1.3.1 Info and Relationships
                    (Level A), 2.4.3 Focus Order (Level A) and 4.1.2 Name, Role, Value (Level A). We are investigating
                    how to fix this, and will review this again by September 2025.</li>
                <li>Form information was programmatically hidden from assistive technology users, which could make it
                    difficult to progress through the service. This fails WCAG 2.2 success criteria 1.3.1 Info and
                    Relationships (Level A). We are investigating how to fix this, and will review this again by
                    September 2025.</li>
                <li>Form grouping was not programmatically conveyed, meaning it could be difficult for screen reader
                    users to understand the purpose of some fields. This fails WCAG 2.2 success criteria 1.3.1 Info and
                    Relationships (Level A). We are investigating how to fix this, and will review this again by
                    September 2025.</li>
                <li>Headings and labels were not sufficiently descriptive of topic or purpose for screen readers. This
                    fails WCAG 2.2 success criteria 2.4.6 Headings and Labels (Level AA). We are investigating how to
                    fix this, and will review this again by September 2025.</li>
            </ul>


            <h3 class="govuk-heading-m">Usability</h3>

            <p class="govuk-body">Although the following do not fail to meet WCAG 2.2, they may prove challenging for
                users of the service.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Form grouping is marked up in a way that could be difficult for screen reader users to understand.
                </li>
                <li>Interactive controls do not have clearly visible mouse cursor hover indicators.</li>
                <li>Background gradients are present that could make it more difficult for some users to read page
                    content.</li>
                <li>Elements are not styled consistently throughout the service.</li>
                <li>Error summary lists errors in a different order to the form fields.</li>
                <li>The 'Back' links do not function with JavaScript-based assistive technologies.</li>
            </ul>

            <p class="govuk-body">We plan to review these by September 2025.</p>



            <h2 class="govuk-heading-l">What we're doing to improve accessibility</h2>

            <p class="govuk-body">We will monitor data to ensure employees are able to use the website and to identify
                any issues.</p>

            <p class="govuk-body">We plan to fix these by September 2025.</p>



            <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

            <p class="govuk-body">This statement was prepared on 29 May 2025.</p>

            <p class="govuk-body">It was last reviewed on 29 May 2025.</p>

            <p class="govuk-body">This website was last tested on 28 April 2025.</p>

            <p class="govuk-body">The test was carried out by Digital Accessibility Centre. The most-viewed pages were
                tested using automated testing tools by our website team.</p>

        </div>
    </div>
</div>

{% endblock %}