@charset "UTF-8";
* {
  font-family: Helvetica, Arial, sans-serif !important;
}

body {
  background-color: #f3f2f1 !important;
  padding-top: 100px;
  min-width: 190px;
}

main.pts-checker {
  padding-bottom: 100px;
}

@font-face {
  font-family: "hod";
  src: url("/public/fonts/hod.eot?jmlbqj");
  src: url("/public/fonts/hod.eot?jmlbqj#iefix") format("embedded-opentype"), url("/public/fonts/hod.ttf?jmlbqj") format("truetype"), url("/public/fonts/hod.woff?jmlbqj") format("woff"), url("/public/fonts/hod.svg?jmlbqj#hod") format("svg");
  font-weight: normal;
  font-style: normal;
}
.hmrc-timeout-dialog {
  position: fixed;
  z-index: 1002;
  top: 50%;
  left: 50%;
  width: 280px;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid #0b0c0c;
  background-color: #fff;
}

@media (min-width: 40.0625em) {
  .hmrc-timeout-dialog {
    width: 435px;
  }
}
.hmrc-timeout-dialog__message {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  line-height: 1.31579;
}

@media print {
  .hmrc-timeout-dialog__message {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .hmrc-timeout-dialog__message {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}
@media print {
  .hmrc-timeout-dialog__message {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.hmrc-timeout-dialog__countdown {
  display: inline-block;
  font-weight: 700;
  white-space: nowrap;
}

@media (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link-wrapper {
    display: inline-block;
    line-height: 2.5em;
    vertical-align: baseline;
  }
}
.hmrc-timeout-dialog__link {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
  display: inline-block;
}

@media print {
  .hmrc-timeout-dialog__link {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
@media print {
  .hmrc-timeout-dialog__link {
    font-size: 18pt;
    line-height: 1.15;
  }
}
@media (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    position: relative;
    top: 2px;
    padding: 0.526315em 0.789473em 0.263157em;
    line-height: 1.5;
  }
}
@media print and (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}
@media print and (min-width: 40.0625em) {
  .hmrc-timeout-dialog__link {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.hidden,
.js .js-hidden,
.no-js .js-visible {
  display: none !important;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hmrc-account-icon {
  background-repeat: no-repeat;
}

.hmrc-account-icon--home {
  padding-left: 22px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pZCI+PHBhdGggZD0iTTEyIDJMMSAxMi41aDMuMTl2OS4zOGg1LjQ0di03LjEzaDQuNXY3LjEzaDUuNDRWMTIuNUgyM0wxMiAyeiIvPjwvc3ZnPg==");
  background-position: left -1px;
  background-size: 19px;
}

.hmrc-account-menu {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #b1b4b6;
  background-color: #fff;
}

@media print {
  .hmrc-account-menu {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .hmrc-account-menu {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print {
  .hmrc-account-menu {
    font-size: 14pt;
    line-height: 1.2;
  }
}
.hmrc-account-menu:after {
  content: "";
  display: block;
  clear: both;
}

.is-smaller.hmrc-account-menu {
  margin-bottom: 0;
  -webkit-transition: none;
  transition: none;
  border-bottom: 1px solid #b1b4b6;
}

.is-smaller.hmrc-account-menu.main-nav-menu-is-open {
  margin-bottom: 5em;
}

.is-smaller.hmrc-account-menu li:last-of-type a:last-of-type {
  padding-right: 0;
}

.hmrc-account-menu__link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 16px 8px;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  text-decoration: none;
  text-transform: none;
}

.hmrc-account-menu__link:visited {
  color: #4a4a4a;
}

.hmrc-account-menu__link:focus,
.hmrc-account-menu__link:hover {
  outline: none;
  color: #003078;
  border-bottom: 4px solid #003078;
}

.hmrc-account-menu__link:focus {
  background-color: #fd0;
  color: #0b0c0c;
}

.hmrc-account-menu__link .hmrc-notification-badge {
  line-height: inherit;
}

.is-smaller .hmrc-account-menu__link {
  padding-left: 10px;
  color: #0b0c0c;
}

.hmrc-account-menu__link--home {
  padding: 12px 18px 8px 0;
  float: left;
}

.is-smaller .hmrc-account-menu__link--home,
.is-smaller .hmrc-account-menu__link--menu {
  padding-left: 0;
}

.hmrc-account-menu__link--menu {
  padding: 12px 20px 8px 0;
  float: right;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.hmrc-account-menu__link--active,
.hmrc-account-menu__link--active:visited {
  border-bottom: 4px solid #1d70b8;
  color: #0b0c0c;
}

.hmrc-account-menu__main {
  z-index: 995;
  margin: 0;
  float: right;
}

.hmrc-account-menu__main li {
  display: inline-block;
  margin-bottom: 0;
}

.is-smaller .hmrc-account-menu__main {
  padding: 0;
  float: none;
  clear: both;
  background-color: #f3f2f1;
}

.is-smaller .hmrc-account-menu__main.main-nav-is-open {
  position: relative;
  border-top: 1px solid #b1b4b6;
}

.is-smaller .hmrc-account-menu__main.main-nav-is-open:after,
.is-smaller .hmrc-account-menu__main.main-nav-is-open:before {
  content: " ";
  position: absolute;
  right: 4px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: solid rgba(0, 0, 0, 0);
  pointer-events: none;
}

.is-smaller .hmrc-account-menu__main.main-nav-is-open:before {
  right: 3px;
  border-width: 7px;
  border-bottom-color: #b1b4b6;
}

.is-smaller .hmrc-account-menu__main.main-nav-is-open:after {
  margin-left: -6px;
  border-width: 6px;
  border-bottom-color: #fff;
}

.is-smaller .hmrc-account-menu__main li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #b1b4b6;
}

.is-smaller .hmrc-account-menu__main li:last-child {
  border-bottom: 0;
}

.is-smaller .hmrc-account-menu__main .hmrc-account-menu__link {
  border-bottom: 0;
  display: block;
}

.is-smaller .hmrc-account-menu__main .hmrc-account-menu__link:hover {
  border-bottom: 0;
}

.is-smaller .hmrc-account-menu__link--back {
  padding-left: 20px;
  border-bottom: 1px solid #f3f2f1;
  background-image: url(components/account-menu/images/icon-chevron-left.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 12px;
}

.is-smaller .hmrc-account-menu__link--back .hmrc-account-menu__link {
  padding: 12px 8px 8px;
}

.is-smaller .hmrc-account-menu__link--back .hmrc-account-menu__link:focus {
  outline: none;
}

.js-enabled .hmrc-account-menu__link--menu,
.js-enabled .is-smaller .hmrc-account-menu__link--more {
  background-image: url(components/account-menu/images/icon-chevron-right.svg);
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 12px;
}

.js-enabled .hmrc-account-home--account--is-open,
.js-enabled .hmrc-account-menu__link--more,
.js-enabled .is-smaller .hmrc-account-menu__link--more-expanded {
  background-image: url(components/account-menu/images/icon-chevron-down.svg);
  background-position: right 4px center;
  background-size: 12px;
}

.js-enabled .hmrc-account-menu__link--more {
  position: relative;
  padding-right: 31px;
  background-image: url(components/account-menu/images/icon-chevron-down.svg);
  background-position: right 14px center;
  background-size: 12px;
}

.js-enabled .hmrc-account-menu__link--more:after,
.js-enabled .hmrc-account-menu__link--more:before {
  content: none;
}

.js-enabled .hmrc-account-menu__link--more.hmrc-account-menu__link--more-expanded:after,
.js-enabled .hmrc-account-menu__link--more.hmrc-account-menu__link--more-expanded:before {
  content: " ";
  position: absolute;
  right: 14px;
  bottom: -5px;
  width: 0;
  height: 0;
  border: solid rgba(0, 0, 0, 0);
  pointer-events: none;
}

.js-enabled .hmrc-account-menu__link--more.hmrc-account-menu__link--more-expanded:before {
  right: 13px;
  border-width: 7px;
  border-bottom-color: #b1b4b6;
}

.js-enabled .hmrc-account-menu__link--more.hmrc-account-menu__link--more-expanded:after {
  margin-left: -6px;
  border-width: 6px;
  border-bottom-color: #f3f2f1;
}

.is-smaller .hmrc-account-menu__link--more-expanded {
  display: none;
}

.no-js .hmrc-account-menu__main li {
  display: inline;
}

.gov-uk-circle {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #0b0c0c;
  color: #fff;
  font-family: ntatabularnumbers, nta, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.gov-uk-circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.gov-uk-number-list-align {
  display: block;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
  width: 30px;
  height: 30px;
  font-size: 1em;
  line-height: 32px;
}

.pet-travel-list {
  position: relative;
}
.pet-travel-list li {
  clear: both;
  margin-bottom: 20px;
}

time {
  white-space: nowrap;
}

.govuk-text-adjacent-to-button {
  line-height: 2;
  vertical-align: middle;
}

[class^=hod-icons-] {
  font-family: "hod" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
}

.hod-icons-printer:before {
  content: "\e954";
  font-size: 1.2rem;
}

.hod-icons-download-button:before {
  content: "\f15b";
  font-size: 1.2rem;
}

.hod-icons-checkmark:before {
  content: "\ea10";
}

.pet-print-download-nav {
  padding: 0;
  margin: 0;
}
.pet-print-download-nav li {
  display: inline-block;
  margin-right: 40px;
}
.pet-print-download-nav li p {
  display: inline-block;
}

.gem-c-organisation-logo {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
}
.gem-c-organisation-logo .gem-c-organisation-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: #0b0c0c;
  height: auto;
  width: auto;
  direction: ltr;
}
.gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest {
  border-left: 2px solid #0b0c0c;
  padding-top: 23px;
  padding-left: 6px;
}
.gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
  background: url(/public/images/org_crest_13px-02cd4dc76429840b335048d7ea971c06a2e01dee302feb05cec74fbaf927400a.png) no-repeat 5px 0;
  background-size: auto 20px;
}
.gem-c-organisation-logo .gem-c-organisation-logo__container .gem-c-organisation-logo__name {
  font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.gem-c-organisation-logo.brand--department-for-environment-food-rural-affairs.brand__border-color {
  border-color: #00a33b;
}
.gem-c-organisation-logo.brand--department-for-environment-food-rural-affairs .brand__border-color {
  border-color: #00a33b;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
    background-image: url(/public/images/org_crest_13px_x2-f412306c518f95598c202e3383932301f187c7e966d56e2e3f5112a4ecfcbde5.png);
  }
}
@media (min-width: 40.0625em) {
  .gem-c-organisation-logo {
    font-size: 18px;
  }
  .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest {
    padding-top: 28px;
    padding-left: 7px;
  }
  .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
    background: url(/public/images/org_crest_18px-5863abda23ccb562f7ca4599038901db5a7f03eb277df5d86d51491033492b62.png) no-repeat 6px 0;
    background-size: auto 26px;
  }
}
@media only screen and (min-width: 40.0625em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 40.0625em) and (min-resolution: 192dpi), only screen and (min-width: 40.0625em) and (min-resolution: 2dppx) {
  .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
    background-image: url(/public/images/org_crest_18px_x2-d759444376a83ad439650d64c8de4158658aa1b5034e5a6080e66ebaa9594b0d.png);
  }
}
.pet-logo-print.gem-c-organisation-logo {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
  height: 50px;
  margin-bottom: 30px;
}
.pet-logo-print.gem-c-organisation-logo .gem-c-organisation-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: #0b0c0c;
  height: 100%;
  width: auto;
  direction: ltr;
}
.pet-logo-print.gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest {
  border-left: 3px solid #0b0c0c;
  padding-top: 0;
  padding-left: 60px;
}
.pet-logo-print.gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .pet-logo-print.gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .pet-logo-print.gem-c-organisation-logo .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
  background: url(/public/images/org_crest_18px_x2-d759444376a83ad439650d64c8de4158658aa1b5034e5a6080e66ebaa9594b0d.png) no-repeat 5px 5px;
  background-size: auto 40px;
}
.pet-logo-print.gem-c-organisation-logo .gem-c-organisation-logo__container .gem-c-organisation-logo__name {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 19px;
  font-size: 1.4rem;
  line-height: 1.14286;
  white-space: nowrap;
}
.pet-logo-print.gem-c-organisation-logo.brand--department-for-environment-food-rural-affairs.brand__border-color {
  border-color: #008938;
}
.pet-logo-print.gem-c-organisation-logo.brand--department-for-environment-food-rural-affairs .brand__border-color {
  border-color: #008938;
}

.pet-declaration-print .pet-declaration-logos {
  display: none;
}
.pet-declaration-print .pet-declaration-print-only {
  display: none;
}
.pet-declaration-print .govuk-summary-list__key {
  width: 47%;
}
.pet-declaration-print .pet-declaration-row-qrcode .govuk-grid-column-three-quarters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  column-gap: 1.5em;
}
.pet-declaration-print .pet-declaration-row-qrcode .pet-declaration-qrcode {
  display: none;
  border: 1px solid #b1b4b6;
  box-sizing: border-box;
  margin-bottom: govuk-spacing(6);
  flex-shrink: 1;
}
.pet-declaration-print .pet-declaration-row-qrcode .pet-declaration-qrcode svg {
  width: 230px;
}
.pet-declaration-print .pet-declaration-wet-signature {
  border: 1px solid #b1b4b6;
  padding: 40px;
  margin-top: govuk-spacing(4);
}
.pet-declaration-print .pet-declaration-wet-signature legend {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: #666;
}
.pet-declaration-print #document-issued-card {
  flex-basis: auto;
  min-width: 380px;
  align-self: stretch;
}

@media print {
  @page {
    size: auto;
    margin: 0;
  }
  html,
  .govuk-template {
    font-size: 10pt;
    background-color: transparent;
  }
  .pet-declaration-print {
    width: 100%;
    min-width: 750px;
  }
  .pet-declaration-print * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important; /* Firefox 48 – 96 */
    print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
  }
  .pet-declaration-print .govuk-skip-link {
    display: none;
  }
  .pet-declaration-print h1.govuk-heading-xl {
    font-size: 22pt;
    line-height: 1.15;
  }
  .pet-declaration-print h1.govuk-heading-xl.govuk-\!-margin-bottom-4 {
    margin-bottom: 0.3em !important;
  }
  .pet-declaration-print .govuk-body-s {
    margin-bottom: 1.5em;
  }
  .pet-declaration-print .pet-main {
    display: block;
  }
  .pet-declaration-print .pet-declaration-wet-signature {
    border: 1px solid black;
    padding: 30px;
  }
  .pet-declaration-print .pet-declaration-wet-signature legend {
    font-size: 0.9rem;
  }
  .pet-declaration-print .pet-declaration-print-only {
    display: block;
  }
  .pet-declaration-print .govuk-width-container {
    page-break-after: avoid;
  }
  .pet-declaration-print .govuk-width-container .govuk-main-wrapper {
    padding-bottom: 0;
  }
  .pet-declaration-print .govuk-grid-row .govuk-grid-column-three-quarters {
    width: 100%;
  }
  .pet-declaration-print .govuk-grid-row .govuk-grid-column-three-quarters p.govuk-body {
    font-size: 0.95rem;
  }
  .pet-declaration-print .pet-declaration-row {
    page-break-before: avoid;
    page-break-after: avoid;
  }
  .pet-declaration-print .pet-declaration-row .govuk-grid-column-three-quarters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    column-gap: 1em;
    row-gap: 0;
    max-height: 480px;
  }
  .pet-declaration-print .pet-declaration-row .govuk-grid-column-three-quarters .govuk-summary-card {
    flex-basis: auto;
    width: 48.8%;
    min-width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .pet-declaration-print .pet-declaration-row-qrcode .govuk-grid-column-three-quarters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    column-gap: 1em;
    row-gap: 0;
    max-height: 480px;
  }
  .pet-declaration-print .pet-declaration-row-qrcode .govuk-grid-column-three-quarters .govuk-summary-card,
  .pet-declaration-print .pet-declaration-row-qrcode .govuk-grid-column-three-quarters .pet-declaration-qrcode {
    flex-basis: content;
    width: auto;
    min-width: auto;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .pet-declaration-print .pet-declaration-row-qrcode .govuk-grid-column-three-quarters .pet-declaration-qrcode {
    border: 1px solid black;
    margin-bottom: 1em;
    display: block;
  }
  .pet-declaration-print .pet-declaration-row-qrcode .govuk-grid-column-three-quarters .pet-declaration-qrcode svg {
    width: 9em;
    margin: 1px;
  }
  .pet-declaration-print .govuk-phase-banner,
  .pet-declaration-print .hmrc-account-menu,
  .pet-declaration-print .login-nav,
  .pet-declaration-print .govuk-back-link,
  .pet-declaration-print header,
  .pet-declaration-print footer {
    display: none;
  }
  .pet-declaration-print .pet-declaration-logos {
    display: block;
    margin-top: 1em;
    width: 100%;
  }
  .pet-declaration-print .pet-declaration-logos .govuk-grid-column-one-quarter {
    width: 35%;
    display: inline-block;
  }
  .pet-declaration-print .pet-declaration-logos .gem-c-organisation-logo {
    -moz-transform-origin: left top; /* Firefox */
    -moz-transform: scale(0.7); /* Firefox */
    transform-origin: left top; /* Default */
    transform: scale(0.7); /* Default */
    margin-bottom: 1em;
  }
  .pet-declaration-print .govuk-summary-card {
    border: 1px solid black;
    margin-bottom: 1em;
  }
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__title {
    font-size: 12pt;
    line-height: 1.15;
    margin: 0.5em 0;
  }
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__title-wrapper {
    border-bottom: 1px solid black;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.8em;
  }
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__content {
    padding: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__content .govuk-summary-list__row {
    border: none;
    display: table-row;
  }
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__content .govuk-summary-list__row p {
    margin-bottom: 0.5em;
  }
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__content .govuk-summary-list__row .govuk-summary-list__key,
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__content .govuk-summary-list__row .govuk-summary-list__value {
    display: table-cell;
    font-size: 0.95rem;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.3em;
  }
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__content .govuk-summary-list__row .govuk-summary-list__key {
    width: 38%;
  }
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__content .govuk-summary-list__row .govuk-summary-list__value br.pet-br-print {
    content: " ";
  }
  .pet-declaration-print .govuk-summary-card .govuk-summary-card__content .govuk-summary-list__row .govuk-summary-list__value br.pet-br-print::after {
    content: ", ";
  }
  .pet-declaration-print .pet-declaration-break-page {
    padding-top: 2em;
    page-break-before: auto;
  }
  .pet-declaration-print .pet-document-declaration-print h2.govuk-heading-l {
    font-size: 10pt !important;
    line-height: 1.05;
    margin-bottom: 4px !important;
    display: inline-block;
    width: auto;
  }
  .pet-declaration-print .pet-document-declaration-print h2.govuk-heading-l::after {
    content: ": ";
  }
  .pet-declaration-print .pet-document-declaration-print p.govuk-body {
    display: inline-block;
    margin-bottom: 4px !important;
    break-inside: auto;
  }
  .pet-declaration-print .pet-document-signature {
    margin-top: 10px;
  }
  .pet-declaration-print .pet-document-signature .govuk-grid-column-two-thirds {
    display: inline-block;
    width: auto;
  }
  .pet-declaration-print .pet-document-signature .govuk-grid-column-one-third {
    display: inline-block;
    width: auto;
  }
  .pet-declaration-print #document-microchip-card,
  .pet-declaration-print #document-pet-card,
  .pet-declaration-print #document-owner-card,
  .pet-declaration-print #document-issued-card {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0;
  }
  .pet-declaration-print #document-microchip-card {
    order: 1;
  }
  .pet-declaration-print #document-microchip-card .govuk-summary-list__key {
    width: 40%;
  }
  .pet-declaration-print #document-pet-card {
    order: 3;
  }
  .pet-declaration-print #document-owner-card {
    order: 2;
  }
  .pet-declaration-print #document-issued-card {
    width: 100%;
  }
  .pet-declaration-print .govuk-list--bullet > li,
  .pet-declaration-print .govuk-list--number > li {
    font-size: 0.95rem;
  }
}
.govuk-footer {
  border-top: solid 10px #1d70b8;
}

.rtwr-help-bar {
  margin: 60px 0 0 0;
  padding: 10px 15px 0;
  background-color: #1d70b8;
  color: #fff;
}
.rtwr-help-bar .govuk-body {
  font-size: 1rem;
  margin-bottom: 0;
  color: #fff;
}
.rtwr-help-bar .rtwr-help-bar__question {
  margin-right: 10px;
}

.login-nav {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #0b0c0c;
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bfc1c3;
}

.login-nav::after {
  content: "";
  display: block;
  clear: both;
}

.login-nav__list {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  list-style-type: none;
  float: right;
}

.login-nav__list::after {
  content: "";
  display: block;
  clear: both;
}

.login-nav__list-item {
  position: relative;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 0;
  float: left;
}

#profile .profile,
#account .account {
  text-decoration: none;
  font-weight: 600;
}

.login-nav__link {
  margin-right: 5px;
}

.login-nav__details {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #0b0c0c;
  margin: 0;
  padding-bottom: 10px;
  float: left;
}

.login-nav__details::after {
  content: "";
  display: block;
  clear: both;
}

@media print {
  .login-nav {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .login-nav {
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print {
  .login-nav {
    font-size: 14pt;
    line-height: 1.2;
  }
}
@media print {
  .login-nav {
    color: #000000;
  }
}
@media print {
  .login-nav__details {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .login-nav__details {
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print {
  .login-nav__details {
    font-size: 14pt;
    line-height: 1.2;
  }
}
@media print {
  .login-nav__details {
    color: #000000;
  }
}
/*** Small viewports ***/
@media all and (max-width: 40.0625em) {
  .login-nav__details {
    float: none;
  }
  .login-nav__list {
    float: none;
  }
}
.pet-long-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.govuk-tag {
  max-width: 200px;
}

.govuk-table {
  position: relative;
  width: 99%;
}

.govuk-table * {
  box-sizing: border-box;
}
.govuk-table * th,
.govuk-table * td {
  min-width: 100px;
}

.moj-scrollable-pane {
  overflow-x: auto;
  background: linear-gradient(to right, white, white, rgba(255, 255, 255, 0) calc(var(0.75em) * 2)), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)), linear-gradient(to left, white, white, rgba(255, 255, 255, 0) calc(var(0.75em) * 2)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)) 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: local, scroll, local, scroll;
  background-size: 100% 100%, 0.75em 100%, 100% 100%, 0.75em 100%;
}

@media (min-width: 40.0625em) {
  .govuk-tabs__panel {
    background: #ffffff;
  }
}
.autocomplete__wrapper {
  position: relative;
}

.autocomplete__hint,
.autocomplete__input {
  -webkit-appearance: none;
  border: 2px solid #0b0c0c;
  border-radius: 0; /* Safari 10 on iOS adds implicit border rounding. */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0; /* BUG: Safari 10 on macOS seems to add an implicit margin. */
  width: 100%;
}

.autocomplete__input {
  background-color: transparent;
  position: relative;
}

.autocomplete__hint {
  color: #b1b4b6;
  position: absolute;
}

.autocomplete__input--default {
  padding: 5px;
}

.autocomplete__input--focused {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}

.autocomplete__input--show-all-values {
  padding: 5px 34px 5px 5px; /* Space for arrow. Other padding should match .autocomplete__input--default. */
  cursor: pointer;
}

.autocomplete__menu {
  background-color: #fff;
  border: 2px solid #0B0C0C;
  border-top: 0;
  color: #0B0C0C;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 4px);
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, 0.256863) 0px 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.autocomplete__menu--inline {
  position: relative;
}

.autocomplete__option {
  font-family: "GDS Transport", arial, sans-serif;
  color: #0b0c0c;
  border-bottom: solid #b1b4b6;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  position: relative;
}

.autocomplete__option > * {
  pointer-events: none;
}

.autocomplete__option:first-of-type {
  border-top-width: 0;
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete__option--odd {
  background-color: #FAFAFA;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: #1d70b8;
  border-color: #1d70b8;
  color: white;
  outline: none;
}

.autocomplete__dropdown-arrow-down {
  z-index: 10 !important;
  pointer-events: none;
  display: inline-block;
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  top: 10px;
}

@media (-ms-high-contrast: active), (forced-colors: active) {
  .autocomplete__menu {
    border-color: FieldText;
  }
  .autocomplete__option {
    background-color: Field;
    color: FieldText;
  }
  .autocomplete__option--focused,
  .autocomplete__option:hover {
    forced-color-adjust: none; /* prevent backplate from obscuring text */
    background-color: Highlight;
    border-color: Highlight;
    color: HighlightText;
    /* Prefer SelectedItem / SelectedItemText in browsers that support it */
    background-color: SelectedItem;
    border-color: SelectedItem;
    color: SelectedItemText;
    outline-color: SelectedItemText;
  }
}
.autocomplete__option--no-results {
  background-color: #FAFAFA;
  color: #646b6f;
  cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 16px;
  line-height: 1.25;
}

.autocomplete__hint,
.autocomplete__option {
  padding: 5px;
}

@media (min-width: 641px) {
  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
    font-size: 19px;
    line-height: 1.31579;
  }
}
.pet-main {
  padding-top: govuk-spacing(2);
}

.pet-travel-back-link {
  margin-top: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
}

.pet-nodata {
  padding-top: 20px;
  padding-bottom: 20px;
}

#cy:target,
#cy:target main {
  display: block;
}

#cy:target + #en {
  display: none;
}

[data-only-show^=".match"] [hidden] {
  display: none !important;
}

ul.language-toggle {
  text-align: right;
  white-space: nowrap;
}
ul.language-toggle li {
  display: inline-block;
  padding-left: 1rem;
  border-left: 0.1rem solid currentColor;
  margin-left: 0.66rem;
}
ul.language-toggle li:first-child {
  padding-left: 0;
  border-left: none;
  margin-left: 0;
}

/* HOME */
.pts-checker-home-html {
  background-color: #00a33b !important;
  background-image: linear-gradient(180deg, rgb(1, 96, 35) 0%, rgb(0, 163, 59) 100%) !important;
  background-repeat: repeat-x;
  background-attachment: scroll;
}

.pts-checker-home {
  padding: 0 !important;
  display: block;
  background: transparent !important;
}
.pts-checker-home h1.govuk-heading-xl {
  line-height: 1.2;
}

@media only screen and (max-width: 1000px) {
  .pts-checker-home .govuk-grid-column-one-third {
    width: 42%;
  }
}
.gem-c-organisation-logo-white {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
}
.gem-c-organisation-logo-white .gem-c-organisation-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: #ffffff;
  height: auto;
  width: auto;
  direction: ltr;
}
.gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest {
  border-left: 2px solid #ffffff;
  padding-top: 23px;
  padding-left: 6px;
}
.gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
  background: url(/public/images/white/org_crest_13px-02cd4dc76429840b335048d7ea971c06a2e01dee302feb05cec74fbaf927400a.png) no-repeat 5px 0;
  background-size: auto 20px;
}
.gem-c-organisation-logo-white .gem-c-organisation-logo__container .gem-c-organisation-logo__name {
  font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.gem-c-organisation-logo-white.brand--department-for-environment-food-rural-affairs.brand__border-color {
  border-color: #ffffff;
}
.gem-c-organisation-logo-white.brand--department-for-environment-food-rural-affairs .brand__border-color {
  border-color: #ffffff;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
    background-image: url(/public/images/white/org_crest_13px_x2-f412306c518f95598c202e3383932301f187c7e966d56e2e3f5112a4ecfcbde5.png);
  }
}
@media (min-width: 40.0625em) {
  .gem-c-organisation-logo-white {
    font-size: 18px;
  }
  .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest {
    padding-top: 28px;
    padding-left: 7px;
  }
  .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
    background: url(/public/images/white/org_crest_18px-5863abda23ccb562f7ca4599038901db5a7f03eb277df5d86d51491033492b62.png) no-repeat 6px 0;
    background-size: auto 26px;
  }
}
@media only screen and (min-width: 40.0625em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 40.0625em) and (min-resolution: 192dpi), only screen and (min-width: 40.0625em) and (min-resolution: 2dppx) {
  .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
    background-image: url(/assets/images/white/org_crest_18px_x2-d759444376a83ad439650d64c8de4158658aa1b5034e5a6080e66ebaa9594b0d.png);
  }
}
.pet-logo-print.gem-c-organisation-logo-white {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
  height: 50px;
  margin-bottom: 30px;
}
.pet-logo-print.gem-c-organisation-logo-white .gem-c-organisation-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: #ffffff;
  height: 100%;
  width: auto;
  direction: ltr;
}
.pet-logo-print.gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest {
  border-left: 3px solid #ffffff;
  padding-top: 0;
  padding-left: 60px;
}
.pet-logo-print.gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--single-identity, .pet-logo-print.gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--eo, .pet-logo-print.gem-c-organisation-logo-white .gem-c-organisation-logo__container.gem-c-organisation-logo__crest--org {
  background: url(/assets/images/white/org_crest_18px_x2-d759444376a83ad439650d64c8de4158658aa1b5034e5a6080e66ebaa9594b0d.png) no-repeat 5px 5px;
  background-size: auto 40px;
}
.pet-logo-print.gem-c-organisation-logo-white .gem-c-organisation-logo__container .gem-c-organisation-logo__name {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 19px;
  font-size: 1.4rem;
  line-height: 1.14286;
  white-space: nowrap;
}
.pet-logo-print.gem-c-organisation-logo-white.brand--department-for-environment-food-rural-affairs.brand__border-color {
  border-color: #ffffff;
}
.pet-logo-print.gem-c-organisation-logo-white.brand--department-for-environment-food-rural-affairs .brand__border-color {
  border-color: #ffffff;
}

.pts-checker-separator {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}
.pts-checker-separator::after {
  position: relative;
  top: 0.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f3f2f1;
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
  margin-top: 0;
  content: "or";
}

.pts-checker-travel-details {
  width: auto;
}
.pts-checker-travel-details .govuk-summary-list__key {
  width: 40%;
}

.govuk-summary-card {
  background-color: #ffffff;
}

.govuk-button--inverse,
.govuk-button--inverse:link,
.govuk-button--inverse:visited,
.govuk-button--inverse:active,
.govuk-button--inverse:hover,
.govuk-button--start {
  color: #00a33b;
}

.govuk-button--inverse {
  background-color: #ffffff;
  box-shadow: 0 2px 0 #0c5e1d;
}

.pts-checker-home-logos {
  zoom: 0.8;
}

.pts-checker-splash {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.govuk-back-link {
  margin-top: 30px;
}

.govuk-radios__label::before,
.govuk-checkboxes__label::before {
  background-color: white;
}

.autocomplete__input,
.autocomplete__wrapper {
  background-color: white;
}

/* MEDIA */
@media (orientation: portrait) {
  .pts-checker-header .pts-checker-header-nav li svg {
    margin-top: 0.4em;
    height: 44px;
    margin-bottom: 0;
  }
  .pts-checker-header .pts-checker-header-nav span {
    display: none;
  }
  .pts-checker-header .pet-declaration-logos .govuk-grid-column-one-half:first-child,
  .pts-checker-header .pet-declaration-logos .govuk-grid-column-one-quarter:first-child {
    margin-bottom: 1em;
  }
}
.pts-checker-time-select {
  min-width: auto !important;
  max-width: none !important;
  width: 70px;
}

.pts-checker-check {
  align-self: center;
  max-width: calc(100% - 74px);
  margin-bottom: 0;
  padding: 7px 15px;
  margin-left: 40px;
}
.pts-checker-check::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 13px;
  left: 10px;
  width: 23px;
  height: 12px;
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 1;
  background: transparent;
}
.pts-checker-check::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 40px;
  height: 40px;
  background: transparent;
}

.checker-dashboard .govuk-summary-list__key {
  width: 45% !important;
  white-space: nowrap;
}

@media (min-width: 40.0625em) {
  .checker-dashboard .govuk-summary-list__key {
    width: 45%;
  }
}

.pts-checker-header {
  background-color: #000000;
  padding-top: 1em; /* Adjust padding as needed */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;/* Height set relative to viewport (14% of viewport height) */
  width: 100%; /* Full width relative to viewport width */
  box-sizing: border-box;
  z-index: 100;
  filter: drop-shadow(rgba(0, 0, 0, 0.05) 0.5rem 0.5rem 0.2rem);
  box-shadow: 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.05);
}

.pts-checker-header .pet-declaration-logos {
  zoom: 0.8;
}

.pts-checker-header .pet-declaration-logos .pet-logo-print.gem-c-organisation-logo-white {
  margin-bottom: 0;
}

.pts-checker-header h1 {
  display: inline-block;
  margin-top: 0.2em;
}

.pts-checker-header .pts-header-title {
  padding-bottom: 16px;
}

.pts-location-bar {
  background-color: white;
  border-bottom: 1px #b1b4b6 solid;
  width: 100%;
  overflow: visible;
  position: relative;
  max-width: 100%;
  z-index: 101;
  padding-top: 0;
  padding-bottom: 1em 0; /* Higher z-index so it appears above the header */
}

.pts-checker-header .pts-location-bar p {
  padding: 16px;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  position: relative;
  z-index: 102;
}

/* Navigation styles */
.pts-checker-header-nav {
  float: right;
  list-style: none;
  display: flex; /* Use flex for navigation items */
  margin: 0;
  padding: 0;
  column-gap: 0.5em; /* Space between items */
  box-sizing: border-box;
  z-index: 100;
}

.pts-checker-header-nav li {
  display: inline-block;
  padding: 0;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-align: center;
}

.pts-checker-header-nav li svg {
  height: 30px; /* Fixed height for icons */
  display: block;
  margin: 0 auto;
  margin-bottom: 0.7em;
}

.pts-checker-header-nav li a {
  color: #ffffff;
  font-size: 14px; /* Use rem for responsive scaling if necessary */
  text-decoration: none;
  white-space: nowrap;
}

/* Responsive Styles */
@media only screen and (max-width: 650px) {
  .pts-checker-header {
    padding-top: 1.5em; /* Adjust padding as necessary */
  }

  .pts-checker-header .govuk-grid-column-one-half,
  .pts-checker-header .govuk-grid-column-two-thirds {
    display: inline-block;
    width: 65%; /* Fixed width for mobile */
  }

  .pts-checker-header .govuk-grid-column-one-quarter,
  .pts-checker-header .govuk-grid-column-one-third {
    display: inline-block;
    width: auto; /* Responsive width */
  }

  .pts-checker-header .govuk-grid-column-one-third {
    float: right; /* Float to the right for layout */
  }

  .pts-checker-header .govuk-heading-l {
    font-size: 1.8em; /* Adjust font size for smaller screens */
  }

  .pts-checker-header-nav li svg {
    margin-top: 0.4em; /* Adjust spacing for mobile */
    height: 30px; /* Fixed size for icons */
    margin-bottom: 0;
  }

  .pts-checker-header-nav span {
    display: none; /* Hide spans in mobile */
  }

  .pts-checker-header .pet-declaration-logos .govuk-grid-column-one-half:first-child,
  .pts-checker-header .pet-declaration-logos .govuk-grid-column-one-quarter:first-child {
    display: none; /* Hide specific columns on smaller screens */
  }
}

@media only screen and (max-width: 450px) {
  .pts-checker-header h1.govuk-heading-l {
    font-size: 1.2em; /* Smaller font size for very small screens */
  }
}

body.pts-management {
  padding-top: 0;
}

.pts-management-header {
  position: relative;
  filter: none;
}

.pts-checker-navigation {
  background-color: rgb(1, 96, 35); /* Dark green background */
  position: fixed; /* Stays fixed in place */
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 14vh; /* Height set relative to viewport (10% of viewport height) */
  width: 100%; /* Full width relative to viewport width */
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0.5rem -0.5rem 0.3rem);
  box-sizing: border-box; /* Ensure padding is included in height/width */
  max-width: 100%;
}

.pts-checker-navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure full width is utilized */
  box-sizing: border-box;
}

.pts-checker-navigation ul li {
  display: inline-block;
  padding-bottom: 1.5em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  box-sizing: border-box; /* Ensure padding doesn't affect size */
}

.pts-checker-navigation ul li svg {
  height: 4.5vh; /* Fixed height relative to viewport height (3% of the viewport height) */
  width: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto;
  padding-bottom: 0.7em;
}


.pts-checker-navigation ul li a {
  color: #ffffff;
  font-size: 14px; /* Fixed font size */
  text-decoration: none;
  white-space: nowrap;
}

.pts-checker-navigation ul li a span {
  padding-top: 0.2em;
}

.pts-checker-nav-icon {
  fill: #fff;
  stroke-width: 0px;
}

.pts-checker-scan-icon {
  margin: 0 auto;
  margin-top: 4em;
}
.pts-checker-scan-icon svg {
  height: 8em;
  display: block;
  margin: 0 auto;
}
.pts-checker-scan-icon .pts-checker-nav-icon {
  fill: #00a33b;
  stroke-width: 0px;
}
.pts-checker-scan-icon input[type=file] {
  display: none;
}

.pts-checker-scan-button {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  white-space: nowrap;
  justify-content: space-around;
}
.pts-checker-scan-button svg {
  display: inline-block;
  padding: 0.2em;
  height: 1.5em;
}
.pts-checker-scan-button span {
  display: inline-block;
}

.pts-checker-scan-button-group {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  white-space: nowrap;
}

/* SUCCESS MESSAGE */
html {
  --ons-color-black: #222;
  --ons-color-leaf-green: #0f8243;
  --ons-color-leaf-green-tint: #e7f3ec;
  --ons-color-text: var(--ons-color-black);
  --ons-color-success: var(--ons-color-leaf-green);
  --ons-color-success-tint: var(--ons-color-leaf-green-tint);
}

.ons-panel {
  border-radius: 0;
  position: relative;
}

.ons-panel--no-title {
  border: 1px solid transparent;
  border-left: 8px solid transparent;
  padding: 1rem;
}

.ons-panel--success .ons-panel__icon {
  left: 0;
  padding-left: 1rem;
}

.ons-panel--success {
  background: var(--ons-color-success-tint);
  border-color: var(--ons-color-success);
  outline: 1px solid transparent;
}

.ons-panel__body {
  padding: 1rem;
}

.ons-u-fs-r {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.ons-panel--success .ons-panel__icon .ons-icon {
  fill: var(--ons-color-success) !important;
  margin-top: -15% !important;
}

.ons-icon {
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}

.ons-panel--no-title .ons-panel__body {
  background: 0 0;
  padding: 0;
}

.ons-panel > *:last-child {
  margin-bottom: 0;
}

.ons-panel__icon + .ons-panel__body {
  padding-left: 2rem;
}

.ons-panel--info .ons-panel__icon,
.ons-panel--bare .ons-panel__icon,
.ons-panel--success .ons-panel__icon,
.ons-panel--warn .ons-panel__icon,
.ons-panel--warn-branded .ons-panel__icon,
.ons-panel--announcement .ons-panel__icon {
  position: absolute;
}

.ons-u-vh,
.ons-checkbox--no-label > .ons-checkbox__input + .ons-checkbox__label,
.ons-checkbox--no-label > .ons-radio__input + .ons-checkbox__label,
.ons-checkbox--no-label > .ons-checkbox__input + .ons-radio__label,
.ons-checkbox--no-label > .ons-radio__input + .ons-radio__label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 1px;
}

/*# sourceMappingURL=checker.css.map */
