{% extends "./layouts/checkerLayout.html" %}

{% block pageTitle %} Find a document - {{documentSearchMainModelData.pageTitle}} – GOV.UK {% endblock %}

{% block content %}
{% if successConfirmation %}
<div id="successBanner" class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  {% include "./success/successBanner.html" %}
</div>
{% endif %}

<div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-8">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
    <div id="errorSummary">
      {% if formSubmitted and errorSummary %}
      {% include "./errors/displayErrorSummary.html" %}
      {% endif %}
    </div>

    <form id="documentSearchForm" action="/checker/document-search" method="POST">
      <div class="govuk-grid-row govuk-!-margin-bottom-0 govuk-!-margin-top-0">
        <div class="govuk-grid-column-full govuk-!-margin-top-0">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-labelledby="search-options-heading">
              <legend id="search-options-heading">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                  {{ documentSearchMainModelData.pageHeading }}
                </h1>
              </legend>

              <div class="govuk-radios" data-module="govuk-radios" role="radiogroup" aria-labelledby="search-options-heading">
                <h2 id="search-options-heading" class="govuk-radios__label govuk-visually-hidden">Search options</h2>
                   
                <!-- PTD search option -->
                <div class="govuk-radios__item" role="radio" 
                     aria-checked="{% if activeTab == 'ptd' %}true{% else %}false{% endif %}" 
                     tabindex="{% if activeTab == 'ptd' %}0{% else %}-1{% endif %}" 
                     aria-posinset="1" aria-setsize="3">
                  <input 
                    class="govuk-radios__input" 
                    id="documentSearch-1" 
                    name="documentSearch" 
                    type="radio" 
                    value="ptd" 
                    aria-labelledby="documentSearch-1-label" 
                    {% if activeTab == 'ptd' %}checked{% endif %}>
                  <label 
                    id="documentSearch-1-label" 
                    class="govuk-label govuk-radios__label" 
                    for="documentSearch-1">
                    Search by PTD number
                  </label>
                </div>
                <div 
                  class="govuk-radios__conditional {% if activeTab == 'ptd' %}{% else %}govuk-radios__conditional--hidden{% endif %}" 
                  id="conditional-documentSearch-1">
                  <!-- PTD Input -->
                  <div id="ptd-form-group" class="govuk-form-group {% if error and activeTab == 'ptd' %}govuk-form-group--error{% endif %}">
                    {% if error and activeTab == "ptd" %}
                    <p id="ptd-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{documentSearchMainModelData.errorLabel}}</span>
                      {{error}}
                    </p>
                    {% endif %}
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">
                        {{documentSearchMainModelData.ptdSearchText}}
                      </div>
                      <input 
                        class="govuk-input {% if error and activeTab == 'ptd' %}govuk-input--error{% endif %} govuk-input--width-10" 
                        id="ptdNumberSearch" 
                        name="ptdNumberSearch" 
                        type="text" 
                        spellcheck="false" 
                        value="{{ptdNumberSearch}}" 
                        aria-label="Enter PTD number">
                    </div>
                  </div>
                </div>
              
                <!-- Application search option -->
                <div class="govuk-radios__item" role="radio" 
                     aria-checked="{% if activeTab == 'application' %}true{% else %}false{% endif %}" 
                     tabindex="{% if activeTab == 'application' %}0{% else %}-1{% endif %}" 
                     aria-posinset="2" aria-setsize="3">
                  <input 
                    class="govuk-radios__input" 
                    id="documentSearch-2" 
                    name="documentSearch" 
                    type="radio" 
                    value="application" 
                    aria-labelledby="documentSearch-2-label" 
                    {% if activeTab == 'application' %}checked{% endif %}>
                  <label 
                    id="documentSearch-2-label" 
                    class="govuk-label govuk-radios__label" 
                    for="documentSearch-2">
                    Search by application number
                  </label>
                </div>
                <div 
                  class="govuk-radios__conditional {% if activeTab == 'application' %}{% else %}govuk-radios__conditional--hidden{% endif %}" 
                  id="conditional-documentSearch-2">
                  <!-- Application Input -->
                  <div id="application-form-group" class="govuk-form-group {% if error and activeTab == 'application' %}govuk-form-group--error{% endif %}">
                    {% if error and activeTab == "application" %}
                    <p id="application-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{documentSearchMainModelData.errorLabel}}</span>
                      {{error}}
                    </p>
                    {% endif %}
                    <input 
                      class="govuk-input {% if error and activeTab == 'application' %}govuk-input--error{% endif %} govuk-input--width-10" 
                      id="applicationNumberSearch" 
                      name="applicationNumberSearch" 
                      type="text" 
                      spellcheck="false" 
                      value="{{applicationNumberSearch}}" 
                      aria-label="Enter application number">
                  </div>
                </div>
              
                <!-- Microchip search option -->
                <div class="govuk-radios__item" role="radio" 
                     aria-checked="{% if activeTab == 'microchip' %}true{% else %}false{% endif %}" 
                     tabindex="{% if activeTab == 'microchip' %}0{% else %}-1{% endif %}" 
                     aria-posinset="3" aria-setsize="3">
                  <input 
                    class="govuk-radios__input" 
                    id="documentSearch-3" 
                    name="documentSearch" 
                    type="radio" 
                    value="microchip" 
                    aria-labelledby="documentSearch-3-label" 
                    {% if activeTab == 'microchip' %}checked{% endif %}>
                  <label 
                    id="documentSearch-3-label" 
                    class="govuk-label govuk-radios__label" 
                    for="documentSearch-3">
                    Search by microchip number
                  </label>
                </div>
                <div 
                  class="govuk-radios__conditional {% if activeTab == 'microchip' %}{% else %}govuk-radios__conditional--hidden{% endif %}" 
                  id="conditional-documentSearch-3">
                  <!-- Microchip Input -->
                  <div id="microchip-form-group" class="govuk-form-group {% if error and activeTab == 'microchip' %}govuk-form-group--error{% endif %}">
                    {% if error and activeTab == "microchip" %}
                    <p id="microchip-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{documentSearchMainModelData.errorLabel}}</span>
                      {{error}}
                    </p>
                    {% endif %}
                    <input 
                      class="govuk-input {% if error and activeTab == 'microchip' %}govuk-input--error{% endif %} govuk-input--width-20" 
                      id="microchipNumber" 
                      name="microchipNumber" 
                      type="text" 
                      spellcheck="false" 
                      value="{{microchipNumber}}" 
                      aria-label="Enter microchip number">
                  </div>
                </div>
              </div>
              
            </fieldset>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Search
          </button>
        </div>
        <div class="govuk-grid-column-one-half" style="text-align: right;">
          <p class="govuk-body govuk-!-margin-top-2">
            <a class="govuk-link" style="text-align: right;" href="#" id="clearSearchButton">Clear search</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

<script>

  const conditionalDocumentSearch1Id = 'conditional-documentSearch-1';
  const conditionalDocumentSearch2Id = 'conditional-documentSearch-2';
  const conditionalDocumentSearch3Id = 'conditional-documentSearch-3';

  function resetField(inputId, formGroupId, errorId) {
    const inputElement = document.getElementById(inputId);
    inputElement.value = '';
    document.getElementById(formGroupId).classList.remove("govuk-form-group--error");
    inputElement.classList.remove("govuk-input--error");

    const errorElement = document.getElementById(errorId);
    if (errorElement) {
      errorElement.remove();
    }

    const errorSummary = document.getElementById('errorSummary');
    if (errorSummary) {
        errorSummary.style.display = 'none';
    }
    
  }

  function toggleConditionals(visibleId) {
    const allConditionals = [conditionalDocumentSearch1Id, conditionalDocumentSearch2Id, conditionalDocumentSearch3Id];
    allConditionals.forEach(id => {
      const element = document.getElementById(id);
      element.className = id === visibleId
        ? 'govuk-radios__conditional'
        : 'govuk-radios__conditional govuk-radios__conditional--hidden';
    });
  }

  // Event listeners for radio buttons
  document.getElementById('documentSearch-1').addEventListener('click', () => {
    toggleConditionals(conditionalDocumentSearch1Id);
  });

  document.getElementById('documentSearch-2').addEventListener('click', () => {
    toggleConditionals(conditionalDocumentSearch2Id);
  });

  document.getElementById('documentSearch-3').addEventListener('click', () => {
    toggleConditionals(conditionalDocumentSearch3Id);
  });

  // Clear all fields and reset radio buttons
  function clearSearchFields(_event) {
    _event.preventDefault(); // Prevent default link behavior

    document.getElementById('documentSearch-1').checked = false;
    document.getElementById('documentSearch-2').checked = false;
    document.getElementById('documentSearch-3').checked = false;
    resetField('ptdNumberSearch', 'ptd-form-group', 'ptd-error');
    resetField('applicationNumberSearch', 'application-form-group', 'application-error');
    resetField('microchipNumber', 'microchip-form-group', 'microchip-error');
  }

  document.getElementById('clearSearchButton').addEventListener('click', clearSearchFields);

  // On form submission, clear irrelevant fields
  document.getElementById('documentSearchForm').addEventListener('submit', function (_event) {
    const selectedOption = document.querySelector('input[name="documentSearch"]:checked').value;
    const inputFields = {
      ptd: document.getElementById('ptdNumberSearch'),
      application: document.getElementById('applicationNumberSearch'),
      microchip: document.getElementById('microchipNumber')
    };

    // Clear values of non-relevant input fields
    for (const key in inputFields) {
      if (key !== selectedOption) {
        inputFields[key].value = '';
      }
    }
  });

  // On page load, ensure correct conditional content is displayed
  document.addEventListener('DOMContentLoaded', function (e) {
    setTimeout(() => {
      const selectedOptionId = getSelectedOptionId();
      toggleConditionals('conditional-documentSearch-' + selectedOptionId);
    }, 10);
  });

  function getSelectedOptionId() {
    const documentSearchField = document.querySelector('input[name="documentSearch"]:checked');

    const selectedOption = documentSearchField.value;

    switch (selectedOption) {
      case 'ptd':
          return '1';
      case 'application':
          return '2';
      case 'microchip':
          return '3';
      default:
          return undefined;
    }

  }
  
  if(window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>
{% endblock %}
