{% extends "./layouts/checkerLayout.html" %}

{% block pageTitle %} Find a document - {{documentSearchMainModelData.pageTitle}} – GOV.UK {% endblock %}

{% block beforeContent %}
<a href="javascript: history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      {{ documentSearchMainModelData.pageHeading }}
    </h1>

    {% if errorSummary %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
      data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Error
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#">{{ errorSummary }}</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}

    <form action="/checker/document-search" method="POST">
      <div class="govuk-grid-row govuk-!-margin-bottom-0 govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="documentSearch-hint">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="documentSearch-1" name="documentSearch" type="radio"
                    value="ptd" data-aria-controls="conditional-documentSearch-1" {% if activeTab !="microchip"
                    %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="documentSearch-1">
                    {{documentSearchMainModelData.searchOptions[0].value}}
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-documentSearch-1">
                  <div class="govuk-form-group {% if error and activeTab != " microchip" %}govuk-form-group--error{%
                    endif %}">
                    {% if error and activeTab != "microchip" %}
                    <p id="ptd-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{documentSearchMainModelData.errorLabel}}</span> {{error}}
                    </p>
                    {% endif %}
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">{{documentSearchMainModelData.ptdSearchText}}
                      </div>
                      <input class="govuk-input govuk-input--width-10" id="ptdNumberSearch" name="ptdNumberSearch"
                        type="text" spellcheck="false">
                    </div>
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="documentSearch-2" name="documentSearch" type="radio"
                    value="application" data-aria-controls="conditional-documentSearch-2" {% if activeTab=="application"
                    %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="documentSearch-2">
                    {{documentSearchMainModelData.searchOptions[1].value}}
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-documentSearch-2">
                  <div class="govuk-form-group {% if error and activeTab == " application" %}govuk-form-group--error{%
                    endif %}">
                    {% if error and activeTab == "application" %}
                    <p id="application-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{documentSearchMainModelData.errorLabel}}</span> {{error}}
                    </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-10" id="applicationNumberSearch"
                      name="applicationNumberSearch" type="text" spellcheck="false">
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="documentSearch-3" name="documentSearch" type="radio"
                    value="microchip" data-aria-controls="conditional-documentSearch-3" {% if activeTab=="microchip"
                    %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="documentSearch-3">
                    {{documentSearchMainModelData.searchOptions[2].value}}
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-documentSearch-3">
                  <div class="govuk-form-group {% if error and activeTab == " microchip" %}govuk-form-group--error{%
                    endif %}">
                    {% if error and activeTab == "microchip" %}
                    <p id="microchip-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{documentSearchMainModelData.errorLabel}}</span> {{error}}
                    </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-20" id="microchipNumber" name="microchipNumber"
                      type="text" spellcheck="false">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Search
          </button>
        </div>
        <div class="govuk-grid-column-one-half" style="text-align: right;">
          <button type="button" class="govuk-button govuk-button--secondary" id="clearSearchButton">
            Clear search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById('clearSearchButton').addEventListener('click', () => {
    document.getElementById('ptdNumberSearch').value = '';
    document.getElementById('applicationNumberSearch').value = '';
    document.getElementById('microchipNumber').value = '';
    document.getElementById('documentSearch-1').checked = true;

    document.getElementById('conditional-documentSearch-1').className = 'govuk-radios__conditional';
    document.getElementById('conditional-documentSearch-2').className = 'govuk-radios__conditional govuk-radios__conditional--hidden';
    document.getElementById('conditional-documentSearch-3').className = 'govuk-radios__conditional govuk-radios__conditional--hidden';
  });

  window.addEventListener('load', () => {
    if (!window.location.hash) {
      history.replaceState("", document.title, window.location.pathname + window.location.search);
    }
  });
</script>
{% endblock %}