{% extends "./layouts/checkerLayout.html" %}

{% block pageTitle %} Find a document - {{documentSearchMainModelData.pageTitle}} – GOV.UK {% endblock %}

{% block beforeContent %}
<a href="javascript:void(0);" class="govuk-back-link" id="backButton">Back</a>
{% endblock %}

{% block content %}
<div id="successBanner" class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-0">
  {% if successConfirmation %}
  {% include "./success/successBanner.html" %}
  {% endif %}
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">

    <div id="errorSummary">
      {% if formSubmitted %}
      {% include "./errors/displayErrorSummary.html" %}
      {% endif %}
    </div>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {{ documentSearchMainModelData.pageHeading }}
      </h1>

    <form id="documentSearchForm" action="/checker/document-search" method="POST">
      <div class="govuk-grid-row govuk-!-margin-bottom-0 govuk-!-margin-top-4">
        <div class="govuk-grid-column-full govuk-!-margin-top-0">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios" data-module="govuk-radios">
                <ul style="list-style: none; padding-left: 0;">
                  <li list-style-type: none;>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="documentSearch-1" name="documentSearch" type="radio"
                    value="ptd" data-aria-controls="conditional-documentSearch-1" aria-label="SearchByPtdNumber" {% if activeTab =="ptd"
                    %}checked{% endif %} checked>
                  <label class="govuk-label govuk-radios__label" for="documentSearch-1">
                    {{documentSearchMainModelData.searchOptions[0].value}}
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-documentSearch-1">
                  <div id="ptd-form-group" class="govuk-form-group {% if error and activeTab == "ptd" %}govuk-form-group--error{%
                    endif %}">
                    {% if error and activeTab == "ptd" %}
                    <p id="ptd-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{documentSearchMainModelData.errorLabel}}</span> {{error}}
                    </p>
                    {% endif %}
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">{{documentSearchMainModelData.ptdSearchText}}
                      </div>
                      <input class="govuk-input govuk-input--width-10" id="ptdNumberSearch" aria-label="PtdNumber Input" name="ptdNumberSearch"
                        type="text" spellcheck="false" {% if activeTab=="ptd"
                        %}value={{documentSearchMainModelData.searchText}} {% endif %}>
                    </div>
                  </div>
                </div>
              </li>
              <li list-style-type: none;>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="documentSearch-2" name="documentSearch" type="radio"
                    value="application" data-aria-controls="conditional-documentSearch-2" {% if activeTab=="application"
                    %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="documentSearch-2">
                    {{documentSearchMainModelData.searchOptions[1].value}}
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-documentSearch-2">
                  <div id="application-form-group" class="govuk-form-group {% if error and activeTab == "application" %}govuk-form-group--error{%
                    endif %}">
                    {% if error and activeTab == "application" %}
                    <p id="application-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{documentSearchMainModelData.errorLabel}}</span> {{error}}
                    </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-10" id="applicationNumberSearch"
                      name="applicationNumberSearch" type="text" spellcheck="false" aria-label="ApplicationNumber Input" {% if activeTab=="application"
                      %}value={{documentSearchMainModelData.searchText}} {% endif %}>
                  </div>
                </div>
              </li>
              <li list-style-type: none;>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="documentSearch-3" name="documentSearch" type="radio"
                    value="microchip" data-aria-controls="conditional-documentSearch-3" {% if activeTab=="microchip"
                    %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="documentSearch-3">
                    {{documentSearchMainModelData.searchOptions[2].value}}
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-documentSearch-3">
                  <div id="microchip-form-group" class="govuk-form-group {% if error and activeTab == "microchip" %}govuk-form-group--error{%
                    endif %}">
                    {% if error and activeTab == "microchip" %}
                    <p id="microchip-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{documentSearchMainModelData.errorLabel}}</span> {{error}}
                    </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-20" id="microchipNumber" name="microchipNumber"
                      type="text" spellcheck="false" aria-label="MicrochipNumber Input" {% if activeTab=="microchip"
                      %}value={{documentSearchMainModelData.searchText}} {% endif %}>
                  </div>
                </div>
              </li>
              </ul>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Search
          </button>
        </div>
        <div class="govuk-grid-column-one-half" style="text-align: right;">
          <button type="button" class="govuk-button govuk-button--secondary govuk-button--inverse"
            id="clearSearchButton">
            Clear search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById('clearSearchButton').addEventListener('click', () => {
    document.getElementById('ptdNumberSearch').value = '';
    document.getElementById('applicationNumberSearch').value = '';
    document.getElementById('microchipNumber').value = '';
    document.getElementById('documentSearch-1').checked = true;

    document.getElementById('conditional-documentSearch-1').className = 'govuk-radios__conditional';
    document.getElementById('conditional-documentSearch-2').className = 'govuk-radios__conditional govuk-radios__conditional--hidden';
    document.getElementById('conditional-documentSearch-3').className = 'govuk-radios__conditional govuk-radios__conditional--hidden';

    document.getElementById('errorSummary').hidden = true;

    document.getElementById("ptd-form-group").classList.remove("govuk-form-group--error");
    document.getElementById("application-form-group").classList.remove("govuk-form-group--error");
    document.getElementById("microchip-form-group").classList.remove("govuk-form-group--error");

    document.getElementById('ptd-error').remove();
    document.getElementById('application-error').remove();
    document.getElementById('microchip-error').remove();
  });

  window.addEventListener('load', () => {
    if (!window.location.hash) {
      history.replaceState("", document.title, window.location.pathname + window.location.search);
    }
  });

  document.getElementById('documentSearch-1').addEventListener('click', () => {
    document.getElementById('ptdNumberSearch').value = '';
    document.getElementById('errorSummary').hidden = true;
    document.getElementById("ptd-form-group").classList.remove("govuk-form-group--error");
    document.getElementById('ptd-error').remove();
  });

  document.getElementById('documentSearch-2').addEventListener('click', () => {
    document.getElementById('applicationNumberSearch').value = '';
    document.getElementById('errorSummary').hidden = true;
    document.getElementById("application-form-group").classList.remove("govuk-form-group--error");
    document.getElementById('application-error').remove();
  });

  document.getElementById('documentSearch-3').addEventListener('click', () => {
    document.getElementById('microchipNumber').value = '';
    document.getElementById('errorSummary').hidden = true;
    document.getElementById("microchip-form-group").classList.remove("govuk-form-group--error");
    document.getElementById('microchip-error').remove();
  });


  document.addEventListener('DOMContentLoaded', function() {
      // Clear validation errors only when the page is loaded
      if (!sessionStorage.getItem('formSubmitted')) {
            clearValidationErrors();
        } else {
            sessionStorage.removeItem('formSubmitted');
        }   


      // Intercept back button click to clear validation errors
      document.getElementById('backButton').addEventListener('click', function(event) {
        sessionStorage.removeItem('formSubmitted');
        history.back();
      });
}); 


    document.getElementById('documentSearchForm').addEventListener('submit', function(event) {
        // Clear previous error messages before submitting the form
        sessionStorage.setItem('formSubmitted', 'true');
        clearValidationErrors();
    
        // Optional: Add any additional validation or actions here
    
        // Allow the form to proceed with submission
    });
    
    function clearValidationErrors() {
        document.querySelectorAll('.govuk-error-message').forEach(function(el) {
        el.remove();
        });
        document.querySelectorAll('.govuk-form-group--error').forEach(function(el) {
        el.classList.remove('govuk-form-group--error');
        });
        document.getElementById('errorSummary').innerHTML = '';
    }
</script>
{% endblock %}