@font-face {
  font-family: "hod";
  src: url("/assets/fonts/hod.eot?jmlbqj");
  src: url("/assets/fonts/hod.eot?jmlbqj#iefix") format("embedded-opentype"), url("/assets/fonts/hod.ttf?jmlbqj") format("truetype"), url("/assets/fonts/hod.woff?jmlbqj") format("woff"), url("/assets/fonts/hod.svg?jmlbqj#hod") format("svg");
  font-weight: normal;
  font-style: normal
}