.hidden,
.js .js-hidden,
.no-js .js-visible {
  display: none !important;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hmrc-account-icon {
  background-repeat: no-repeat;
}

.hmrc-account-icon--home {
  padding-left: 22px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pZCI+PHBhdGggZD0iTTEyIDJMMSAxMi41aDMuMTl2OS4zOGg1LjQ0di03LjEzaDQuNXY3LjEzaDUuNDRWMTIuNUgyM0wxMiAyeiIvPjwvc3ZnPg==");
  background-position: left -1px;
  background-size: 19px;
}

.hmrc-account-menu {
  font-family: GDS Transport, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #b1b4b6;
  background-color: #fff;
}

@media print {
  .hmrc-account-menu {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmrc-account-menu {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .hmrc-account-menu {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.hmrc-account-menu:after {
  content: "";
  display: block;
  clear: both;
}

.is-smaller.hmrc-account-menu {
  margin-bottom: 0;
  -webkit-transition: none;
  transition: none;
  border-bottom: 1px solid #b1b4b6;
}

.is-smaller.hmrc-account-menu.main-nav-menu-is-open {
  margin-bottom: 5em;
}

.is-smaller.hmrc-account-menu li:last-of-type a:last-of-type {
  padding-right: 0;
}

.hmrc-account-menu__link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 16px 8px;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  text-decoration: none;
  text-transform: none;
}

.hmrc-account-menu__link:visited {
  color: #4a4a4a;
}

.hmrc-account-menu__link:focus,
.hmrc-account-menu__link:hover {
  outline: none;
  color: #003078;
  border-bottom: 4px solid #003078;
}

.hmrc-account-menu__link:focus {
  background-color: #fd0;
  color: #0b0c0c;
}

.hmrc-account-menu__link .hmrc-notification-badge {
  line-height: inherit;
}

.is-smaller .hmrc-account-menu__link {
  padding-left: 10px;
  color: #0b0c0c;
}

.hmrc-account-menu__link--home {
  padding: 12px 18px 8px 0;
  float: left;
}

.is-smaller .hmrc-account-menu__link--home,
.is-smaller .hmrc-account-menu__link--menu {
  padding-left: 0;
}

.hmrc-account-menu__link--menu {
  padding: 12px 20px 8px 0;
  float: right;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.hmrc-account-menu__link--active,
.hmrc-account-menu__link--active:visited {
  border-bottom: 4px solid #1d70b8;
  color: #0b0c0c;
}

.hmrc-account-menu__main {
  z-index: 995;
  margin: 0;
  float: right;
}

.hmrc-account-menu__main li {
  display: inline-block;
  margin-bottom: 0;
}

.is-smaller .hmrc-account-menu__main {
  padding: 0;
  float: none;
  clear: both;
  background-color: #f3f2f1;
}

.is-smaller .hmrc-account-menu__main.main-nav-is-open {
  position: relative;
  border-top: 1px solid #b1b4b6;
}

.is-smaller .hmrc-account-menu__main.main-nav-is-open:after,
.is-smaller .hmrc-account-menu__main.main-nav-is-open:before {
  content: " ";
  position: absolute;
  right: 4px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: solid rgba(0, 0, 0, 0);
  pointer-events: none;
}

.is-smaller .hmrc-account-menu__main.main-nav-is-open:before {
  right: 3px;
  border-width: 7px;
  border-bottom-color: #b1b4b6;
}

.is-smaller .hmrc-account-menu__main.main-nav-is-open:after {
  margin-left: -6px;
  border-width: 6px;
  border-bottom-color: #fff;
}

.is-smaller .hmrc-account-menu__main li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #b1b4b6;
}

.is-smaller .hmrc-account-menu__main li:last-child {
  border-bottom: 0;
}

.is-smaller .hmrc-account-menu__main .hmrc-account-menu__link {
  border-bottom: 0;
  display: block;
}

.is-smaller .hmrc-account-menu__main .hmrc-account-menu__link:hover {
  border-bottom: 0;
}

.is-smaller .hmrc-account-menu__link--back {
  padding-left: 20px;
  border-bottom: 1px solid #f3f2f1;
  background-image: url(components/account-menu/images/icon-chevron-left.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 12px;
}

.is-smaller .hmrc-account-menu__link--back .hmrc-account-menu__link {
  padding: 12px 8px 8px;
}

.is-smaller .hmrc-account-menu__link--back .hmrc-account-menu__link:focus {
  outline: none;
}

.js-enabled .hmrc-account-menu__link--menu,
.js-enabled .is-smaller .hmrc-account-menu__link--more {
  background-image: url(components/account-menu/images/icon-chevron-right.svg);
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 12px;
}

.js-enabled .hmrc-account-home--account--is-open,
.js-enabled .hmrc-account-menu__link--more,
.js-enabled .is-smaller .hmrc-account-menu__link--more-expanded {
  background-image: url(components/account-menu/images/icon-chevron-down.svg);
  background-position: right 4px center;
  background-size: 12px;
}

.js-enabled .hmrc-account-menu__link--more {
  position: relative;
  padding-right: 31px;
  background-image: url(components/account-menu/images/icon-chevron-down.svg);
  background-position: right 14px center;
  background-size: 12px;
}

.js-enabled .hmrc-account-menu__link--more:after,
.js-enabled .hmrc-account-menu__link--more:before {
  content: none;
}

.js-enabled
  .hmrc-account-menu__link--more.hmrc-account-menu__link--more-expanded:after,
.js-enabled
  .hmrc-account-menu__link--more.hmrc-account-menu__link--more-expanded:before {
  content: " ";
  position: absolute;
  right: 14px;
  bottom: -5px;
  width: 0;
  height: 0;
  border: solid rgba(0, 0, 0, 0);
  pointer-events: none;
}

.js-enabled
  .hmrc-account-menu__link--more.hmrc-account-menu__link--more-expanded:before {
  right: 13px;
  border-width: 7px;
  border-bottom-color: #b1b4b6;
}

.js-enabled
  .hmrc-account-menu__link--more.hmrc-account-menu__link--more-expanded:after {
  margin-left: -6px;
  border-width: 6px;
  border-bottom-color: #f3f2f1;
}

.is-smaller .hmrc-account-menu__link--more-expanded {
  display: none;
}

.no-js .hmrc-account-menu__main li {
  display: inline;
}
