[class^=hod-icons-] {
  font-family: "hod" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
}

// .rtwr-icon--printer:before {
//   content: "";
//   font-size: 1.2rem
// } 

// .rtwr-icon--file-empty:before {
//   content: ""
// }

// @charset "utf-8"
// @font-face {
//   font-family: hod-font;
//   src: url(/govuk-assets/fonts/hod-font.eot?vzqymy);
//   src: url(/govuk-assets/fonts/hod-font.eot?vzqymy#iefix) format("embedded-opentype"), url(/govuk-assets/fonts/hod-font.ttf?vzqymy) format("truetype"), url(/govuk-assets/fonts/hod-font.woff?vzqymy) format("woff"), url(/govuk-assets/fonts/hod-font.svg?vzqymy#hod-icons-font) format("svg");
//   font-weight: 400;
//   font-style: normal
// }

// [class^=hod-icons-],
// [class *=" hod-icons-"] {
//   font-family: hod-font !important;
//   speak: none;
//   font-style: normal;
//   font-weight: 400;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale
// }

// .hod-icons {
//   &::before {
//     fo
//   }
// }
.hod-icons-printer:before {
  // content: ""
  // content: "";
  content: "\E954";
  font-size: 1.2rem;
}
.hod-icons-download-button:before {
  // content: ""
  // content: "";
  content: "\F15B";
  // content: "\E924";
  font-size: 1.2rem;

}

.hod-icons-checkmark:before {
  // content: "";
  content: "\EA10";
}

// .rtwr-icon--printer:before {
  
// }

// .rtwr-icon--file-empty:before {
//   content: ""
// }

// 


.pet-print-download-nav {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    margin-right: 40px;
    p {
      display: inline-block;
    }
  }
}