{% extends "./layouts/checkerLayout.html" %}

{% block pageTitle %} {{currentSailingMainModelData.pageTitle}}– GOV.UK {% endblock %}

{% block beforeContent %}
{# {{ super() }} #}
<a href="javascript: history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-0">
  <div class="govuk-grid-column-full govuk-!-margin-top-0">

    <div id="errorSummary">
      {% if formSubmitted %}
      {% include "./errors/displayErrorSummary.html" %}
      {% endif %}
    </div>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      {{ currentSailingMainModelData.pageHeading }}
    </h1>

    <form id="sailingForm" action="/checker/current-sailings" method="POST">
      {% include "./includes/sailing/routeView.html" %}
      {% include "./includes/sailing/departureDateView.html" %}

    <div class="{% if errorSailingHour or errorSailingMinutes or errorDateRangeTime %}govuk-form-group--error{% endif %}">
      <fieldset style="margin: 0; margin-bottom: 30px; padding: 0; border: none;" id="time-group" role="group" aria-describedby="sailingHourHint" class="govuk-fieldset">
 
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h2 class="govuk-fieldset__heading" aria-describedby="sailingHourHint">
            Scheduled departure time
          </h2>
        </legend>
        
        <div id="sailingHourHint" class="govuk-hint">
          {{ currentSailingMainModelData.sailingHintText1 }}
        </div>
      
        <div id="time-error">
          {% if errorSailingHour or errorSailingMinutes %}
            <p class="govuk-error-message">
              <span class="govuk-visually-hidden">
              {{ currentSailingMainModelData.currentSailingMainModelErrors.labelError }}
              </span>
              {{ currentSailingMainModelData.currentSailingMainModelErrors.timeError }}
            </p>
          {% elif errorDateRangeTime %}
            <p class="govuk-error-message">
              <span class="govuk-visually-hidden">
                {{ currentSailingMainModelData.currentSailingMainModelErrors.labelError }}
              </span>
              {{ errorDateRangeTime }}
            </p>
          {% endif %}    
        </div>
      
        <div class="govuk-date-input__item" style="margin-right: 10px;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="sailingHour">
              Hours
            </label>
          
            <input
              class="govuk-input govuk-input--width-2 {% if errorSailingHour or errorDateRangeTime %} govuk-input--error {% endif %}"
              type="text"
              inputmode="numeric"
              id="sailingHour"
              name="sailingHour"
              value="{{ sailingHour }}"
            >
          </div>
        </div>
      
      
        <span>:</span>
      
      
        <div class="govuk-date-input__item" style="margin-left: 10px;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="sailingMinutes">
              Minutes
            </label>
          
            <input
              class="govuk-input govuk-input--width-2 {% if errorSailingMinutes or errorDateRangeTime %} govuk-input--error {% endif %}"
              type="text"
              inputmode="numeric"
              id="sailingMinutes"
              name="sailingMinutes"
              value="{{ sailingMinutes }}"
            >
          </div>
        </div>
      
      
      </fieldset>
    </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const navigation = document.querySelector('.pts-checker-navigation');
    if (navigation) {
      navigation.style.display = 'none';
    }
  });

  if(window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
  

  window.addEventListener('pageshow', function() {
    // Only clear fields if there are NO error messages
    const hasError =
      document.querySelector('.govuk-error-message') !== null;
    if (!hasError) {
      document.getElementById('sailingHour').value = '';
      document.getElementById('sailingMinutes').value = '';
      // Clear other fields as needed
    }
  });
</script>

{% endblock %}