// GOV SPEAK
.govuk-template {
  background-color: #f3f2f1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.govspeak .contact,
.gem-c-govspeak .contact {
  position: relative;
}
.govspeak .address,
.govspeak .contact,
.gem-c-govspeak .address,
.gem-c-govspeak .contact {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.govspeak h2,
.gem-c-govspeak h2 {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin-top: 30px;
  margin-bottom: 0;
}

// RELATED LINKS/EXPLORE THE TOPIC
.gem-c-related-navigation {
  color: #0b0c0c;
  border-top: 2px solid #1d70b8;
  margin-bottom: 60px;
}
.gem-c-layout-for-public {
  font-family: "GDS Transport", arial, sans-serif;
}
.gem-c-related-navigation__nav-section {
  margin-bottom: 30px;
}
.gem-c-related-navigation__sub-heading--footer {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  border-top: 0;
  padding-top: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}
.gem-c-related-navigation__sub-heading--footer {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}
.gem-c-related-navigation__link {
  list-style-type: none;
  margin-top: 15px;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  // font-size: 14px;
  // font-size: 0.875rem;
  line-height: 1.45;
}
.gem-c-related-navigation__link {
  line-height: 1.28;
}
.gem-c-related-navigation__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}
.govuk-link:link {
  color: #1d70b8;
}
.govuk-link:visited {
  color: #4c2c92;
}
.gem-c-related-navigation__section-link {
  // font-weight: bold;
}
.content-block .gem-c-govspeak h2+p,
.content-block .gem-c-govspeak h3+p {
  margin-top: 20px;
}
.gem-c-layout-for-public {
  font-family: "GDS Transport", arial, sans-serif;
}
.gem-c-step-nav-related {
  color: #0b0c0c;
  border-top: 2px solid #1d70b8;
  margin-bottom: 30px;
}
.gem-c-step-nav-related__links {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  list-style: none;
  margin: 0;
  padding: 0;
}
.gem-c-related-navigation__main-heading {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 15px;
  margin-bottom: 10px;
}
.gem-c-step-nav-related__link-item {
  margin-top: 15px;
}
.gem-c-step-nav-related__links {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  list-style: none;
  margin: 0;
  padding: 0;
}
.gem-c-step-nav-related__links {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  // font-size: 14px;
  // font-size: .875rem;
  line-height: 1.1428571429;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 48.0625em) {
  .govspeak h2,
  .gem-c-govspeak h2 {
    margin-top: 45px;
    margin-bottom: 0;
  }
}
@media (min-width: 40.0625em) {
  .govspeak ol,
  .govspeak ul,
  .govspeak p,
  .gem-c-govspeak ol,
  .gem-c-govspeak ul,
  .gem-c-govspeak p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .govspeak ol,
  .govspeak ul,
  .govspeak p,
  .gem-c-govspeak ol,
  .gem-c-govspeak ul,
  .gem-c-govspeak p {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
  .govspeak h2,
  .gem-c-govspeak h2 {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 1.1111111111;
  }
  .gem-c-related-navigation__main-heading {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
  .gem-c-step-nav-related__links {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}