<div class="gem-c-contextual-sidebar">
  <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
    <h2 id="related-nav-related_items-0a541986" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
      Related content
    </h2>
    <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-0a541986" data-module="gem-toggle" data-gem-toggle-module-started="true">
      <ul class="gem-c-related-navigation__link-list">
        
        <li class="gem-c-related-navigation__link">
          <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
          href="https://www.daera-ni.gov.uk/articles/travelling-pets">
            Travelling with pets to Northern Ireland
          </a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
          href="https://www.gov.uk/taking-your-pet-abroad">
            Taking your pet dog, cat or ferret abroad
          </a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
          href="https://www.gov.uk/taking-your-pet-abroad/microchip">
            Microchip information
          </a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
          href="https://www.gov.uk/taking-your-pet-abroad/getting-an-animal-health-certificate">
            Getting an animal health certificate
          </a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
          href="https://www.gov.uk/bring-pet-to-great-britain/pet-passport">
            Pet passports
          </a>
        </li>
        {# <li class="gem-c-related-navigation__link">
          <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
          href="https://www.gov.uk/guidance/put-your-pet-in-rabies-quarantine">
            Put your pet in rabies quarantine
          </a>
        </li> #}
      </ul>
    </nav>

    {# <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_guides-0a541986" data-module="gem-toggle" data-gem-toggle-module-started="true">
      <h3 id="related-nav-related_guides-0a541986" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Detailed guidance</h3>
      <ul class="gem-c-related-navigation__link-list">
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar"
        href="/guidance/buy-or-hire-an-ivory-item">Buy or hire an ivory item</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar"
        href="/guidance/dealing-in-items-containing-ivory-or-made-of-ivory">Dealing in items containing ivory or made of ivory</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar"
        href="/guidance/ivory-apply-for-an-exemption-certificate-to-deal-in-pre-1918-outstandingly-high-artistic-cultural-or-historical-value-items">Ivory: apply for an exemption certificate to deal in pre-1918 outstandingly high artistic, cultural or historical value items</a></li>
      </ul>
    </nav> #}
    
  </div>
</div>









    {# <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Subsection
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="#">
          Related link
        </a>
      </li>
      <li>
        <a href="#">
          Related link
        </a>
      </li>
      <li>
        <a href="#" class="govuk-!-font-weight-bold">
          More <span class="govuk-visually-hidden">in Subsection</span>
        </a>
      </li>
    </ul>
  </nav>
</aside> #}